@charset "utf-8";
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: PingFangSC, "微软雅黑";
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  font-weight: 400;
  color: #4A4A4A;
}
form,
input,
button,
option,
textarea,
select,
h3,
h4 {
  outline: none;
  font-family: PingFangSC, "微软雅黑";
  font-weight: 400;
  background: none;
  border: none;
}
img {
  border: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
  border: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
textarea {
  resize: none;
}
input,
select,
textarea {
  -webkit-appearance: none;
  vertical-align: middle;
  background: none;
}
li {
  list-style-type: none;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3 {
  font-size: 30px;
  font-weight: normal;
}
/* LESS */
body {
  background: #F1F3F4;
}
/* =S tool style 
==================================*/
.underline {
  border-bottom: 2px solid #EDEDED;
}
.bg-white {
  background: #fff !important;
}
.m-lr {
  margin: 0 23px;
}
.p-lr {
  padding: 0 23px;
}
.bgPic {
  background: url(../../img/bg.png) no-repeat;
  background-size: cover;
}
.bgPic-2 {
  background: url(../../img/bg-2.png) no-repeat #F1F3F4;
  background-size: contain;
}
.mg-s {
  border-bottom: 10px solid #F1F3F4;
}
.ta-c {
  text-align: center;
}
.p-r {
  position: relative;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.highlight {
  color: #D3A460;
}
.ui-linktext {
  text-decoration: underline!important;
  color: #D3A460;
}
.ui-tag {
  padding: 13px 16px;
  font-size: 24px;
  color: #fff;
  background: #EAEAEA;
  border-radius: 23px;
}
.ui-tag2,
.ui-tag-2 {
  font-size: 24px;
  display: inline-block;
  padding: 0 15px;
  border-radius: 20px;
  background: rgba(211, 164, 96, 0.2);
  color: #D3A460;
}
.ui-linkbtn {
  display: block;
  border-radius: 44px;
  background-color: #D3A460;
  background: -webkit-linear-gradient(left, #E0B372, #D3A460);
  /* 标准的语法 */
  font-size: 30px;
  color: #fff;
  line-height: 88px;
  text-align: center;
}
.ui-linkbtn.flud {
  width: 77.777%;
  margin: 0 auto;
}
.ui-linkbtn.bottom {
  margin-top: 96px;
}
.ui-linkbtn.size-s {
  display: inline-block;
  line-height: 23px;
  padding: 12px 22px;
  font-size: 24px;
  border-radius: 24px !important;
}
.ui-linkbtn.simple {
  display: inline-block;
  border-radius: 25px;
  color: #D3A460;
  border: 1px solid #D3A460;
  font-size: 24px;
  line-height: 48px;
  padding: 0 24px;
  background: none;
}
.ui-linkbtn-3 {
  display: inline-block;
  border-radius: 10px;
  padding: 11px 14px;
  background: -webkit-linear-gradient(left, #E0B372, #D3A460);
  color: #fff;
}
.ui-linkbtn-2 {
  display: inline-block;
  padding: 19px 32px;
  border-radius: 32px;
  color: #D3A460;
  border: 1px solid #D3A460;
}
.ui-dl {
  position: relative;
}
.ui-dl .dt {
  font-size: 30px;
}
.ui-dl .dd input {
  line-height: 30px;
  font-size: 30px;
  width: 90%;
  border: 0;
  color: #999;
}
.ui-dl .dd input:focus {
  color: #4A4A4A;
}
.ui-dl .dd .icon {
  position: absolute;
  right: 0;
}
@font-face {
  font-family: 'iconfont';
  /* project id 797836 */
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../../font/iconfont.woff') format('woff'), url('../../font/iconfont.ttf') format('truetype'), url('../../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* =S UI Component style 
==================================*/
.container {
  min-width: 320px;
  max-width: 750px;
  margin: 50px auto 0;
  font-size: 30px;
  position: relative;
}
.ui-input {
  color: #999;
}
.ui-input:focus {
  color: #4A4A4A;
}
.ui-textarea {
  color: #999;
}
.ui-textarea .inner {
  position: relative;
}
.ui-textarea:focus {
  color: #4A4A4A;
}
.ui-textarea textarea {
  font-size: 30px;
  width: 100%;
  margin-bottom: 60px;
}
.ui-textarea .t-info {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 60px;
}
.ui-input-box {
  position: relative;
  margin: 0 24px;
  padding-right: 60px;
  line-height: 130px;
  color: #999;
}
.ui-input-box:focus {
  color: #4A4A4A;
}
.ui-input-box .txt {
  width: 100%;
  line-height: 130px;
}
.ui-input-box .iconfont {
  position: absolute;
  right: 0;
}
.ui-tip {
  padding: 28px 23px;
  color: #999;
  background: #f1f3f4;
}
.ui-coming-soon {
  text-align: center;
}
.ui-coming-soon .iconfont {
  font-size: 54px;
  margin-bottom: 19px;
  color: #DEDEDE;
}
.ui-coming-soon .cs-txt {
  font-size: 28px;
  color: #999 l;
}
.search-wrap {
  padding: 10px 24px;
}
.search-wrap.focus .ui-search {
  text-align: left;
  width: 590px;
}
.search-wrap.focus .ui-search .txt {
  padding-left: 63px;
  font-size: 30px;
}
.search-wrap.focus .ui-search .placeholder {
  padding-left: 33px;
}
.search-wrap.focus .ui-search .placeholder em {
  display: none;
}
.search-wrap.focus .search-cancel {
  display: inline-block;
}
.ui-search {
  height: 60px;
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
}
.ui-search .txt {
  position: absolute;
  left: 0;
  z-index: 0;
  line-height: 60px;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  padding: 0 25px;
}
.ui-search .placeholder {
  position: relative;
  z-index: 1;
  line-height: 60px;
  color: #999;
}
.ui-search .placeholder i {
  font-size: 32px;
}
.ui-search .placeholder em {
  font-size: 28px;
}
.head-area {
  position: relative;
  text-align: center;
  height: 96px;
  line-height: 96px;
  margin-bottom: 2px;
  box-shadow: 0 0 30px 30px #FAF9F8;
}
.head-area .left {
  position: absolute;
  left: 0;
  width: 68px;
  font-size: 36px;
  text-align: center;
}
.head-area .center {
  font-size: 36px;
}
.head-area .right {
  position: absolute;
  right: 24px;
  top: 0;
}
.head-area .right .iconfont {
  font-size: 36px;
}
.ui-article {
  padding: 30px 23px 0;
}
.ui-article p {
  text-indent: 60px;
  line-height: 40px;
}
.ui-article .img-box {
  padding: 29px 0;
}
.ui-article .img-box img {
  width: 100%;
}
.ui-list .l-item {
  position: relative;
  border: 2px solid #F1F3F4;
  padding: 26px 24px;
  overflow: hidden;
}
.ui-list .l-item .title {
  margin-bottom: 19px;
  font-size: 30px;
}
.ui-list .l-item .cont {
  color: #999;
  font-size: 24px;
}
.ui-list .l-item .ui-linkbtn {
  border-radius: 10px;
  display: inline-block;
  padding: 11px 14px;
  line-height: 24px;
  position: absolute;
  top: 43px;
  right: 24px;
  font-size: 26px;
}
.ui-list .l-item .ui-linkbtn.disabled {
  background: #DEDEDE;
}
.ui-list .l-item .left,
.ui-list .l-item .right {
  float: left;
}
.ui-list .l-item .left {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-right: 19px;
}
.ui-list .l-item .left .firstname {
  border-radius: 100%;
  width: 100%;
  display: block;
  background: #F3B966;
  color: #fff;
  float: left;
}
.ui-list .l-item .right .highlight {
  font-size: 28px;
}
.ui-list.col-3 {
  display: flex;
  flex-wrap: wrap;
}
.ui-list.col-3 .list-item {
  maring: 0 24px 24px 0;
  background: #F1F3F4;
  width: calc(100%/3);
}
.ui-list.col-3 .list-item:before {
  padding-top: 100%;
}
.ui-pictxt-box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.ui-arrow-list {
  padding: 0 20px;
}
.ui-arrow-list .al-item {
  position: relative;
  height: 110px;
  line-height: 110px;
  border-bottom: 2px solid #EDEDED;
}
.ui-arrow-list .al-item .left span {
  line-height: 29px;
  color: #4A4A4A;
}
.ui-arrow-list .al-item .right {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 29px;
}
.ui-arrow-list .al-item .right .iconfont {
  line-height: 110px;
  font-size: 29px;
}
.ui-display .display-hd {
  overflow: hidden;
  color: #4A4A4A;
  padding: 30px 0;
}
.ui-display .display-hd .left {
  float: left;
}
.ui-display .display-hd .display-hd-title {
  font-size: 36px;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
}
.ui-display .display-hd .right {
  float: right;
  font-size: 30px;
}
.ui-display .display-hd .right .iconfont {
  font-size: 24px;
}
.ui-display .display-bd .ui-list .list-item {
  border-width: 0 18px 20px 0;
  border: solid #fff;
}
.ui-display .display-bd .ui-list.col-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
}
.ui-display .display-bd .ui-list.col-3 .list-item {
  border-radius: 10px;
  maring: 0 24px 24px 0;
  background: #F1F3F4;
  width: calc(100%/3);
}
.ui-display .display-bd .ui-list.col-3 .list-item:before {
  padding-top: 100%;
}
.ui-display .display-bd .ui-list.col-3 .list-item .inner img {
  width: 82px;
}
.ui-display .display-bd .ui-list.col-3 .list-item .inner p {
  font-size: 30px;
}
/* =E UI Component style 
==================================*/
/* =S content style 
==================================*/
#login {
  background-size: cover;
}
#login .title-area {
  padding-top: 66px;
}
#login .title-area .upload-box {
  margin-bottom: 49px;
  text-align: center;
}
#login .title-area .upload-box .iconfont {
  font-size: 222px;
}
#login .title-area .upload-box p {
  color: #333333;
  text-align: center;
}
#login .title-area .man-or-woman button {
  width: 260px;
  padding: 21px 0;
  font-size: 30px;
  border-radius: 40px;
  background: #ccc;
}
#login .title-area .man-or-woman button .iconfont {
  color: #D3A460;
  font-size: 38px;
}
#login .title-area .man-or-woman button.cur {
  background: #FFF2DF;
}
#login .content-area {
  padding: 0 11%;
}
#login .content-area h2 {
  text-align: center;
  font-size: 60px;
  font-family: PingFang-SC-Bold;
  color: #D3A460;
  font-weight: 500;
  margin-top: 117px;
  padding-bottom: 110px;
}
#login .content-area .ui-linkbtn {
  font-size: 30px;
}
#login .content-area .other-login {
  padding-top: 210px;
}
#login .content-area .other-login h3 {
  color: #999;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 59px;
}
#login .content-area .other-login p {
  text-align: center;
}
#login .content-area .other-login p a {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(../../img/wechat.png) no-repeat;
  background-size: auto 100%;
}
#login .complete-registration .cr-text {
  color: #4A4A4A;
}
#login .complete-registration .cr-text .iconfont {
  font-size: 98px;
  color: #60D370;
}
#login .complete-registration .cr-text h3 {
  font-size: 48px;
}
#login .complete-registration .cr-text h4 {
  font-size: 36px;
}
#login .complete-registration .cr-text p {
  color: #666;
}
#login .complete-registration .cr-text .mb {
  margin-bottom: 147px;
}
#login .complete-registration .cr-text .mb2 {
  margin-bottom: 201px;
  margin-top: 29px;
}
#login .complete-registration .tip {
  margin-bottom: 20px;
}
#login .complete-registration .ui-linkbtn {
  margin-bottom: 28px;
}
#login .head-area {
  box-shadow: none;
}
#login .foot-area {
  padding-top: 296px;
  padding-bottom: 55px;
  text-align: center;
  font-size: 28px;
  line-height: 48px;
  height: 29px;
}
#login .tab {
  padding-top: 50px;
  display: flex;
}
#login .tab a {
  flex: 1;
  text-align: center;
  color: #999;
  font-size: 48px;
}
#login .tab a.cur {
  color: #D3A460;
}
#login .input-area {
  margin-top: 130px;
  padding-bottom: 79px;
  font-size: 30px;
}
#login .input-area .iconfont {
  font-size: 32px;
}
#login .input-area .ui-dl {
  margin-top: 101px;
}
#login .input-area .ui-dl .dd {
  margin-top: 60px;
}
#login .input-area .password .dd {
  position: relative;
}
#login .input-area .password input {
  padding-right: 32px;
}
#login .input-area .password .icon {
  position: absolute;
  right: 0;
}
#login .input-area .auth-code input {
  margin-right: 102px;
  width: 238px;
}
#login .input-area .ui-linktext {
  margin-top: 50px;
  display: block;
}
#login .input-area.complete-info input {
  font-size: 24px;
  color: #999;
}
#login .input-area.complete-info input:focus {
  color: #333;
}
.ui-tab {
  box-shadow: 0 10px 10px #FAF9F8;
  background: #fff;
  padding-top: 43px;
  padding-bottom: 43px;
  margin-bottom: 10px;
  display: flex;
}
.ui-tab .t-item {
  flex: 1;
  font-size: 36px;
  text-align: center;
}
.ui-tab .t-item.cur {
  color: #D3A460;
}
.ui-tab .t-item.cur span {
  position: relative;
  margin-top: 31px;
  padding-bottom: 31px;
  word-break: keep-all;
}
.ui-tab .t-item.cur span sub {
  position: absolute;
  border-radius: 8px;
  background: #E30920;
  width: 16px;
  height: 16px;
}
.ui-tab .t-item.cur span em {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 4px;
  background: #D3A460;
}
.msg-list {
  background: #fff;
}
.msg-item {
  position: relative;
  margin: 0 24px;
  padding: 27px 0 15px 0;
  border-bottom: 2px solid #EDEDED;
  overflow: hidden;
}
.msg-item img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
}
.msg-item .detail {
  float: left;
  color: #999;
}
.msg-item .detail h4 {
  color: #4A4A4A;
  margin-bottom: 19px;
}
.msg-item .detail .mark {
  font-size: 24px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  background: rgba(211, 164, 96, 0.2);
  color: #D3A460;
}
.msg-item .tip {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 24px;
}
.ui-operation-foot {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 8px 0;
}
.ui-operation-foot li {
  flex: 1;
  text-align: center;
}
.ui-operation-foot li.cur .jia {
  background-image: url(../../img/jia-2.png);
}
.ui-operation-foot li.cur .yu {
  background-image: url(../../img/yu-2.png);
}
.ui-operation-foot li.cur .liu {
  background-image: url(../../img/liu-2.png);
}
.ui-operation-foot li.cur .fang {
  background-image: url(../../img/fang-2.png);
}
.ui-operation-foot .pic {
  font-size: 96px;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: url(../../img/jia.png) no-repeat;
  background-size: contain;
}
.ui-operation-foot .jia {
  background-image: url(../../img/jia.png);
  background-size: 48px 48px;
}
.ui-operation-foot .yu {
  background-image: url(../../img/yu.png);
  background-size: 48px 48px;
}
.ui-operation-foot .liu {
  background-image: url(../../img/liu.png);
  background-size: 48px 48px;
}
.ui-operation-foot .fang {
  background-image: url(../../img/fang.png);
  background-size: 48px 48px;
}
.ui-operation-foot .publish {
  background: #fff;
  color: #D3A460;
}
.ui-operation-foot .publish i {
  font-size: 96px;
}
.ui-operation-foot .publish div {
  border-radius: 100%;
  background: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  top: -23px;
  line-height: 80px;
}
.system .ta-c {
  padding: 30px 0;
}
#birthday-blessing .ui-linkbtn {
  margin: 0 60px;
  margin-bottom: 39px;
}
.birthday-card h4 {
  padding: 8px 0 30px 0;
  color: #F14D4E;
  font-size: 36px;
}
.birthday-card .pic-box {
  padding: 0 24px;
  margin-bottom: 60px;
}
.birthday-card .pic-box img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.family-id {
  text-align: center;
  color: #fff;
}
.family-id h2 {
  font-size: 48px;
  margin-bottom: 27px;
}
.family-operation-list {
  display: flex;
  border-radius: 23px;
  background: #fff;
  width: 660px;
  height: 184px;
  margin-top: 57px;
  padding-top: 47px;
  margin: 57px auto 18px;
}
.family-operation-list li {
  flex: 1;
  color: #4A4A4A;
  text-align: center;
}
.family-operation-list p {
  line-height: 58px;
}
.ui-title {
  font-size: 36px;
  color: #4A4A4A;
  position: relative;
  width: 160px;
  height: 41px;
  margin: 0 auto;
  text-align: center;
}
.ui-title em {
  width: 100%;
  height: 20px;
  position: absolute;
  background: #ccc;
  bottom: 0;
  border-radius: 0 20px 0 20px;
}
.cont-family .f-title {
  padding: 30px 0;
  background: #fff;
}
.cont-family .f-title p {
  font-size: 36px;
  color: #4A4A4A;
  position: relative;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
.cont-family .f-title span {
  font-size: 36px;
  line-height: 35px;
  position: relative;
  z-index: 2;
}
.cont-family .f-title em {
  width: 100%;
  height: 20px;
  position: absolute;
  background: #EBEBEB;
  bottom: 0;
  border-radius: 0 20px 0 20px;
  left: 0;
}
.cont-family .f-list {
  background: #fff;
}
.cont-family .fl-item {
  position: relative;
  margin: 0 23px;
}
.cont-family .fl-item .line {
  height: 2px;
  background: #EDEDED;
  width: 567px;
  position: absolute;
  top: 0;
}
.cont-family .fl-item .hd {
  padding-top: 23px;
  line-height: 180px;
}
.cont-family .fl-item .hd .left {
  font-size: 30px;
}
.cont-family .fl-item .hd .left img {
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
.cont-family .fl-item .hd .right {
  position: absolute;
  top: 0;
  right: 0;
  color: #999999;
  font-size: 24px;
}
.cont-family .fl-item .bd {
  padding: 20px 0 11px 0;
  width: 100%;
  overflow: hidden;
}
.cont-family .fl-item .bd .pic-list {
  padding: 0 0 0 24px;
  overflow: hidden;
}
.cont-family .fl-item .bd .pic-list li {
  float: left;
  position: relative;
  border: 24px solid #fff;
  border-width: 0 24px 24px 0;
  width: calc(100%/3);
  display: flex;
  /*设置为flex布局*/
  justify-content: center;
  /*水平居中*/
  align-items: center;
  /*垂直居中*/
}
.cont-family .fl-item .bd .pic-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-family .fl-item .bd .pic-list li .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.cont-family .fl-item .bd .pic-list li .more em {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.cont-family .fl-item .bd .pic-list li .more span {
  display: block;
  transform: translateY(-50%);
  position: relative;
  top: 48%;
  z-index: 2;
  font-size: 60px;
  color: #fff;
}
.cont-family .f-ft {
  margin: 0 23px 50px;
  line-height: 48px;
  font-size: 28px;
}
.cont-apply {
  line-height: 87px;
  color: #fff;
  text-align: center;
  background: #D3A460;
}
.ui-onOffBtn {
  position: relative;
}
.ui-onOffBtn label {
  display: block;
  width: 62px;
  height: 36px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ui-onOffBtn input:checked + label {
  background: #34bf49;
}
.ui-onOffBtn input:checked + label:after {
  left: 32px;
}
.ui-onOffBtn input:checked + label:active:after {
  left: 0.5rem;
}
.ui-onOffBtn input:disabled + label {
  background: #d5d5d5;
  pointer-events: none;
}
.ui-onOffBtn input:disabled + label:after {
  background: #bcbdbc;
}
.ui-onOffBtn label:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0.05rem;
  top: 0.05rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cont-page-banner {
  height: 404px;
  background: url(../../img/home-header.png) no-repeat;
  background-size: cover;
}
.cont-wrap {
  margin: 0 24px;
}
.cont-wrap-p {
  padding: 0 24px;
}
.blank {
  height: 294px;
}
.cont-personal-info {
  margin-bottom: 9px;
}
.cont-personal-info .img-wrap {
  position: relative;
  top: -50px;
  border-radius: 100%;
}
.cont-personal-info .img-wrap img {
  width: 100px;
  height: 100px;
}
.cont-personal-info .name {
  color: #4A4A4A;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 21px;
}
.cont-personal-info .name .icon {
  vertical-align: top;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../../img/man.png) no-repeat;
  background-size: cover;
}
.cont-personal-info .name .icon.man {
  background: url('../../img/man.png') no-repeat;
}
.cont-personal-info .name .icon.woman {
  background: url(../../img/woman.png) no-repeat;
}
.cont-personal-info .birthday {
  color: #4A4A4A;
  margin-bottom: 17px;
  line-height: 24px;
}
.cont-personal-info .birthday .icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../../img/cake.png') no-repeat;
}
.cont-personal-info .speech {
  color: #999;
  line-height: 25px;
  padding-bottom: 48px;
}
.publish-tab {
  overflow: hidden;
  width: 516px;
  margin: 0 auto 51px;
  display: flex;
}
.publish-tab .publish-tab-item {
  flex: 0.333;
  text-align: center;
  line-height: 92px;
  width: 102px;
  color: #4A4A4A;
}
.publish-tab .publish-tab-item.cur {
  border-bottom: 4px solid #DEB06E;
  color: #D3A460;
  font-size: 48px;
}
.publish-title {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4A4A4A;
  text-align: center;
}
.publish-title h2 {
  font-size: 60px;
  line-height: 57px;
  margin-bottom: 15px;
}
.publish-title a {
  display: block;
}
.activity-display .hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.activity-display .hd .left img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 17px;
}
.activity-display .hd .right span {
  color: #999;
}
.activity-display .bd {
  width: 100%;
}
.activity-display .bd .list-item,
.activity-display .bd li {
  position: relative;
}
.activity-display .bd .list-item img,
.activity-display .bd li img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.activity-display .display-list {
  clear: float;
}
.activity-display .display-list .left {
  float: left;
}
.activity-display .display-list .right {
  float: left;
}
.activity-display .type-1 {
  padding: 0 24px;
}
.activity-display .type-1 li {
  height: 440px;
}
.activity-display .type-2 {
  padding-left: 24px;
}
.activity-display .type-2 .list-item {
  float: left;
  width: 324px;
  height: 324px;
  margin-right: 24px;
}
.activity-display .type-2 .list-item:nth-child(1) {
  margin-right: 24px;
}
.activity-display .type-3 {
  overflow: hidden;
  padding-left: 24px;
}
.activity-display .type-3 .left,
.activity-display .type-3 .right {
  float: left;
}
.activity-display .type-3 .right {
  width: 208px;
}
.activity-display .type-3 .left .list-item {
  margin: 0 24px 24px 0;
  width: 440px;
  height: 440px;
}
.activity-display .type-3 .right .list-item {
  width: 208px;
  height: 208px;
  margin: 0 0 24px 24px;
}
.activity-display .row-1-col-2 {
  padding-left: 24px;
}
.activity-display .row-1-col-2 .list-item {
  float: left;
  width: 324px;
  height: 324px;
  margin-right: 24px;
}
.activity-display .row-1-col-2 .list-item:nth-child(1) {
  margin-right: 24px;
}
.activity-display .rowspan-2-col-2 {
  overflow: hidden;
  padding-left: 24px;
}
.activity-display .rowspan-2-col-2 .left,
.activity-display .rowspan-2-col-2 .right {
  float: left;
}
.activity-display .rowspan-2-col-2 .right {
  width: 208px;
}
.activity-display .rowspan-2-col-2 .left .list-item {
  margin: 0 0 24px 0;
  width: 440px;
  height: 440px;
}
.activity-display .rowspan-2-col-2 .right .list-item {
  width: 208px;
  height: 208px;
  margin: 0 0 24px 24px;
}
.activity-display .row-2-colspan-2 {
  overflow: hidden;
  padding-left: 24px;
}
.activity-display .row-2-colspan-2 .left,
.activity-display .row-2-colspan-2 .right {
  float: left;
}
.activity-display .row-2-colspan-2 .left .list-item {
  width: 208px;
  height: 208px;
  margin: 0 24px 24px 0;
}
.activity-display .row-2-colspan-2 .right .list-item {
  width: 440px;
  height: 440px;
}
.activity-display .row-1-col-1 .list-item {
  width: 672px;
  height: 440px;
  padding: 0 24px;
}
.activity-display .row-1-col-3 {
  overflow: hidden;
  padding-left: 24px;
}
.activity-display .row-1-col-3 .list-item {
  float: left;
  width: 208px;
  height: 208px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.ui-imgbox {
  width: 100%;
  height: 100%;
}
.ui-imgbox img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.ui-imgbox:before {
  content: '';
  display: block;
  margin-top: 100%;
}
.photo-operation-bar {
  overflow: hidden;
  padding: 0 24px 10px 24px;
  border-bottom: 1px solid #EDEDED;
}
.photo-operation-bar .left {
  float: left;
}
.photo-operation-bar .right {
  float: right;
}
.photo-operation-bar .right .ui-linkbtn {
  padding: 0 15px;
}
.photo-display .hd {
  font-size: 36px;
  line-height: 96px;
  padding: 0 24px;
}
.photo-display .bd {
  padding-bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}
.photo-display .bd .list {
  overflow: hidden;
  padding-left: 24px;
}
.photo-display .bd .list .list-item {
  /* width: 208/@rem;height: 208/@rem; */
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  color: #fff;
}
.photo-display .bd .list .list-item img {
  width: 100%;
  border-radius: 10px;
}
.photo-display .bd .list .list-item .info-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 24px;
  padding-left: 12px;
  border-radius: 0px 20px 0px 10px;
  background: rgba(0, 0, 0, 0.3);
}
.photo-display .bd .list .list-item .info-bar .favour .actived {
  color: #FF7676;
}
.photo-display .bd .list .list-item .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.photo-display .bd .list .list-item .more .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  border-radius: 10px;
}
.photo-display .bd .list .list-item .more .txt {
  position: relative;
  z-index: 2;
  top: 25px;
  line-height: normal;
  text-align: center;
  font-size: 60px;
  width: 60px;
  color: #fff;
}
.photo-display .bd .list .list-item-title {
  color: #666;
}
.photo-display .bd .list .list-item-title.single-row {
  line-height: 90px;
}
.photo-display .bd .list .list-item-info {
  color: #999;
}
.photo-display .bd .list .pic-box {
  position: relative;
  width: 208px;
  height: 208px;
  background: #F1F3F4;
  border-radius: 10px;
}
.photo-display .bd .list .pic-box img {
  width: 100%;
  height: 100%;
}
.photo-display .bd .list .pic-box .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.photo-display .bd .list .pic-box .more .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  border-radius: 10px;
}
.photo-display .bd .list .pic-box .more .txt {
  position: relative;
  z-index: 2;
  top: 25px;
  line-height: normal;
  text-align: center;
  font-size: 60px;
  width: 60px;
  color: #fff;
}
.photo-display .bd .list .pic-box .icon-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../../img/video.png) no-repeat center center;
  background-size: 60px 60px;
  background-color: rgba(0, 0, 0, 0.2);
}
.photo-display .bd .list .pic-box .icon-add {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../../img/add.png) no-repeat center center;
  background-size: 50px 50px;
}
.photo-display .bd .list .classify.pic-box {
  width: 180px;
  height: 180px;
  padding: 10px 0 0 10px;
  overflow: hidden;
  background: #F1F3F4;
}
.photo-display .bd .list .classify.pic-box img {
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 8px;
  margin: 0 10px 10px 0;
}
.msg-box {
  position: absolute;
  bottom: 61px;
  left: 0;
  overflow: hidden;
}
.msg-box .msgbox-item {
  float: left;
  margin-right: 16px;
  border-radius: 55px;
  padding: 20px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}
.msg-box .msgbox-item img {
  width: 80px;
  height: 80px;
  float: left;
}
.msg-box .msgbox-item .info {
  float: left;
  margin-left: 11px;
}
.msg-box .msgbox-item .info h3 {
  color: #ccc;
  font-size: 24px;
}
.msg-box .msgbox-item .info p {
  color: #fff;
  font-size: 30px;
}
.fullpage-video-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1188px;
  width: 100%;
}
.fullpage-video-box .icon-video {
  width: 100%;
  height: 100%;
  background: url(../../img/video.png) no-repeat center center;
  background-size: 160px 160px;
}
.photo-footer {
  margin-top: 1188px;
  background: #000;
  display: flex;
  padding: 14px 0;
}
.photo-footer .footer-item {
  flex: 1;
  text-align: center;
  color: #fff;
}
.photo-footer .footer-item .iconfont {
  font-size: 38px;
}
.photo-footer .footer-item h3 {
  margin-bottom: 8px;
}
.photo-footer .footer-item p {
  font-size: 24px;
}
