@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../../font/iconfont.woff') format('woff'), url('../../font/iconfont.ttf') format('truetype'), url('../../font/iconfont.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'PingFangSC';
  src: url('../../font/pingfang.ttf');
}
.mr-48 {
  margin-right: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.no-border {
  border: none;
}
.pt-10 {
  padding-top: 10px;
}
.photo-display .hd {
  font-size: 18px;
  line-height: 48px;
  padding: 0 12px;
}
.photo-display .bd {
  padding-bottom: 20px;
  border-bottom: 0.5px solid #EDEDED;
}
.photo-display .bd .list {
  overflow: hidden;
  padding-left: 12px;
}
.photo-display .bd .list .list-item {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  color: #fff;
}
.photo-display .bd .list .list-item img {
  width: 100%;
  border-radius: 5px;
}
.photo-display .bd .list .list-item .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.photo-display .bd .list .list-item .more .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
}
.photo-display .bd .list .list-item .more .txt {
  position: relative;
  z-index: 2;
  top: 12.5px;
  line-height: normal;
  text-align: center;
  font-size: 30px;
  width: 30px;
  color: #fff;
}
.photo-display .bd .list .list-item-title {
  margin-top: 20px;
  color: #666;
  font-size: 15px;
}
.photo-display .bd .list .list-item-title.single-row {
  line-height: 45px;
}
.photo-display .bd .list .list-item-info {
  color: #999;
}
.photo-display .bd .list .pic-box {
  position: relative;
  width: 104px;
  height: 104px;
  background: #F1F3F4;
  border-radius: 5px;
}
.photo-display .bd .list .pic-box img {
  width: 100%;
  height: 100%;
}
.photo-display .bd .list .pic-box .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.photo-display .bd .list .pic-box .more .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
}
.photo-display .bd .list .pic-box .more .txt {
  position: relative;
  z-index: 2;
  top: 12.5px;
  line-height: normal;
  text-align: center;
  font-size: 30px;
  width: 30px;
  color: #fff;
}
.photo-display .bd .list .pic-box .icon-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../../img/video.png) no-repeat center center;
  background-size: 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
.photo-display .bd .list .pic-box .icon-add {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../../img/add.png) no-repeat center center;
  background-size: 25px 25px;
}
.photo-display .bd .list .pic-box .info-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 12px;
  padding-left: 6px;
  border-radius: 0px 20px 0px 10px;
  background: rgba(0, 0, 0, 0.3);
}
.photo-display .bd .list .pic-box .info-bar .favour .active {
  color: #FF7676;
}
.photo-display .bd .list .classify.pic-box {
  width: 90px;
  height: 90px;
  padding: 5px 0 0 5px;
  overflow: hidden;
  background: #F1F3F4;
}
.photo-display .bd .list .classify.pic-box img {
  float: left;
  width: 37.5px;
  height: 37.5px;
  border-radius: 4px;
  margin: 0 5px 5px 0;
}
.fix-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.underline {
  background: url(../../img/line-1px.png) repeat-x 0 bottom;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  font-size: 0;
  margin-right: 8px;
}
.icon-phone {
  background-image: url(../../img/icon-phone.png);
}
.icon-code {
  background-image: url(../../img/icon-code.png);
}
.icon-lock {
  background-image: url(../../img/icon-lock.png);
}
.icon-left-arrow {
  background-image: url(../../img/icon-back.png);
  width: 19px;
  height: 19px;
}
.icon-right-arrow {
  background-image: url(../../img/icon-right-arrow.png);
  width: 12px;
  height: 12px;
}
.icon-right-arrow-big {
  background-image: url(../../img/icon-right-arrow-b.png);
  width: 19px;
  height: 19px;
}
.icon-complete {
  background-image: url(../../img/icon-complete.png);
  width: 50px;
  height: 50px;
}
.icon-upload {
  background-image: url(../../img/icon-upload.png);
  width: 111px;
  height: 111px;
}
.icon-man {
  background-image: url(../../img/icon-man.png);
  width: 19px;
  height: 19px;
}
.icon-woman {
  background-image: url(../../img/icon-woman.png);
  width: 19px;
  height: 19px;
}
.icon-eye-open {
  background-image: url(../../img/icon-eye-open.png);
  width: 16px;
  height: 16px;
}
.icon-eye-close {
  background-image: url(../../img/icon-eye-close.png);
  width: 16px;
  height: 16px;
}
.ui-dim {
  filter: blur(5px);
}
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: PingFangSC, "微软雅黑";
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  font-weight: 400;
  color: #4A4A4A;
}
form,
input,
button,
option,
textarea,
select,
h3,
h4 {
  outline: none;
  font-family: PingFangSC, "微软雅黑";
  font-weight: 400;
  background: none;
  border: none;
}
img {
  border: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
  border: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
textarea {
  resize: none;
}
input,
select,
textarea {
  -webkit-appearance: none;
  vertical-align: middle;
  background: none;
}
li {
  list-style-type: none;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3 {
  font-size: 15px;
  font-weight: normal;
}
body,
html {
  height: 100%;
}
body {
  background: #F1F3F4;
}
:-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
/* =S tool style 
==================================*/
.bg-white {
  background: #fff !important;
}
.m-lr {
  margin: 0 11.5px;
}
.p-lr {
  padding: 0 11.5px;
}
.bgPic {
  background: url(../../img/bg.png) repeat-y;
  background-size: cover;
}
.bgPic-2 {
  background: url(../../img/bg-2.png) no-repeat #F1F3F4;
  background-size: contain;
}
.mg-s {
  border-bottom: 5px solid #F1F3F4;
}
.ta-c {
  text-align: center;
}
.p-r {
  position: relative;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.highlight {
  color: #D3A460;
}
.ui-linktext {
  text-decoration: underline!important;
  color: #D3A460;
}
.ui-tag {
  padding: 6.5px 8px;
  font-size: 12px;
  color: #fff;
  background: #EAEAEA;
  border-radius: 11.5px;
}
.ui-tag2,
.ui-tag-2 {
  font-size: 12px;
  display: inline-block;
  padding: 0 7.5px;
  border-radius: 10px;
  background: rgba(211, 164, 96, 0.2);
  color: #D3A460;
}
.ui-linkbtn {
  display: block;
  border-radius: 22px;
  background-color: #D3A460;
  /* background: linear-gradient(to right, #E0B372 0%, #D3A460 100%); */
  background: -moz-linear-gradient(left, #E0B372 0%, #D3A460 100%);
  /* background: -webkit-linear-gradient(left, #E0B372 0%, #D3A460 100%); */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #E0B372), color-stop(100%, #D3A460));
  /* 标准的语法 */
  font-size: 18px;
  color: #fff;
  padding: 7.5px 0;
  text-align: center;
}
.ui-linkbtn.flud {
  width: 77.777%;
  margin: 0 auto;
}
.ui-linkbtn.bottom {
  margin-top: 48px;
}
.ui-linkbtn.size-s {
  display: inline-block;
  line-height: 11.5px;
  padding: 6px 11px;
  font-size: 12px;
  border-radius: 12px !important;
}
.ui-linkbtn.simple {
  display: inline-block;
  border-radius: 12.5px;
  color: #D3A460;
  border: 0.5px solid #D3A460;
  font-size: 12px;
  line-height: 24px;
  padding: 0 12px;
  background: none;
}
.ui-linkbtn-3 {
  display: inline-block;
  border-radius: 5px;
  padding: 5.5px 7px;
  background: -webkit-linear-gradient(left, #E0B372, #D3A460);
  color: #fff;
}
.ui-linkbtn-2 {
  display: inline-block;
  padding: 0 14.5px;
  line-height: 34px;
  border-radius: 17px;
  color: #D3A460;
  border: 1px solid #D3A460;
}
.ui-dl {
  position: relative;
}
.ui-dl .dt {
  font-size: 15px;
}
.ui-dl .dd input {
  line-height: 15px;
  font-size: 15px;
  width: 90%;
  border: 0;
  color: #999;
}
.ui-dl .dd input:focus {
  color: #4A4A4A;
}
.ui-dl .dd .icon {
  position: absolute;
  right: 0;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* =S UI Component style 
==================================*/
.container {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 53px;
  font-size: 15px;
  position: relative;
}
.footer-area {
  height: 53px;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
}
.ui-input {
  color: #999;
}
.ui-input:focus {
  color: #4A4A4A;
}
.ui-textarea {
  color: #999;
}
.ui-textarea .inner {
  position: relative;
}
.ui-textarea:focus {
  color: #4A4A4A;
}
.ui-textarea textarea {
  font-size: 15px;
  width: 100%;
  margin-bottom: 30px;
}
.ui-textarea .t-info {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 30px;
}
.ui-input-box {
  position: relative;
  margin: 0 12px;
  padding-right: 30px;
  line-height: 65px;
  color: #999;
}
.ui-input-box:focus {
  color: #4A4A4A;
}
.ui-input-box .txt {
  width: 100%;
  line-height: 65px;
}
.ui-input-box .iconfont {
  position: absolute;
  right: 0;
}
.ui-tip {
  padding: 14px 11.5px;
  color: #999;
  background: #f1f3f4;
}
.ui-coming-soon {
  text-align: center;
}
.ui-coming-soon .iconfont {
  font-size: 27px;
  margin-bottom: 9.5px;
  color: #DEDEDE;
}
.ui-coming-soon .cs-txt {
  font-size: 14px;
  color: #999 l;
}
.search-wrap {
  padding: 5px 12px;
}
.search-wrap.focus .ui-search {
  text-align: left;
  width: 295px;
}
.search-wrap.focus .ui-search .txt {
  padding-left: 31.5px;
  font-size: 15px;
}
.search-wrap.focus .ui-search .placeholder {
  padding-left: 16.5px;
}
.search-wrap.focus .ui-search .placeholder em {
  display: none;
}
.search-wrap.focus .search-cancel {
  display: inline-block;
}
.ui-search {
  height: 30px;
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
}
.ui-search .txt {
  position: absolute;
  left: 0;
  z-index: 0;
  line-height: 30px;
  width: 100%;
  border-radius: 15px;
  background: #fff;
  padding: 0 12.5px;
}
.ui-search .placeholder {
  position: relative;
  z-index: 1;
  line-height: 30px;
  color: #999;
}
.ui-search .placeholder i {
  font-size: 16px;
}
.ui-search .placeholder em {
  font-size: 14px;
}
.head-area {
  position: relative;
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 15px;
}
.head-area .left {
  float: left;
  margin-left: 3px;
}
.head-area .center {
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  line-height: 18px;
  height: 18px;
  display: block;
  text-align: center;
}
.head-area .right {
  position: absolute;
  right: 12px;
  top: 40px;
  width: 34px;
  font-size: 15px;
}
.head-area .right .iconfont {
  font-size: 18px;
}
.foot-area {
  height: 53px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.ui-article {
  padding: 15px 11.5px 0;
}
.ui-article p {
  text-indent: 30px;
  line-height: 20px;
}
.ui-article .img-box {
  padding: 14.5px 0;
}
.ui-article .img-box img {
  width: 100%;
}
.ui-list .l-item {
  position: relative;
  border: 1px solid #F1F3F4;
  padding: 13px 12px;
  overflow: hidden;
}
.ui-list .l-item .title {
  margin-bottom: 9.5px;
  font-size: 15px;
}
.ui-list .l-item .cont {
  color: #999;
  font-size: 12px;
}
.ui-list .l-item .ui-linkbtn {
  border-radius: 5px;
  display: inline-block;
  padding: 11px 7px;
  line-height: 24px;
  position: absolute;
  top: 21.5px;
  right: 12px;
  font-size: 13px;
}
.ui-list .l-item .ui-linkbtn.disabled {
  background: #DEDEDE;
}
.ui-list .l-item .left,
.ui-list .l-item .right {
  float: left;
}
.ui-list .l-item .left {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 9.5px;
}
.ui-list .l-item .left .firstname {
  border-radius: 100%;
  width: 100%;
  display: block;
  background: #F3B966;
  color: #fff;
  float: left;
}
.ui-list .l-item .right .highlight {
  font-size: 14px;
}
.ui-list.col-3 {
  display: flex;
  flex-wrap: wrap;
}
.ui-list.col-3 .list-item {
  maring: 0 12px 12px 0;
  background: #F1F3F4;
  width: calc(100%/3);
}
.ui-list.col-3 .list-item:before {
  padding-top: 100%;
}
.ui-pictxt-box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.ui-arrow-list {
  padding: 0 10px;
}
.ui-arrow-list .al-item {
  position: relative;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #EDEDED;
}
.ui-arrow-list .al-item .left span {
  line-height: 14.5px;
  color: #4A4A4A;
}
.ui-arrow-list .al-item .right {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 14.5px;
}
.ui-arrow-list .al-item .right .iconfont {
  line-height: 55px;
  font-size: 14.5px;
}
.home-display {
  margin-bottom: 26.5px;
}
.home-display .display-hd {
  overflow: hidden;
  color: #4A4A4A;
  padding: 14.5px 0 15px 0;
}
.home-display .display-hd .left {
  float: left;
}
.home-display .display-hd .display-hd-title {
  font-size: 18px;
  font-weight: 700;
  height: 19px;
  line-height: 19px;
}
.home-display .display-hd .right {
  float: right;
  font-size: 15px;
  vertical-align: bottom;
}
.home-display .display-hd .right .iconfont {
  font-size: 12px;
}
.home-display .display-bd .ui-list .list-item {
  border-width: 0 9px 10px 0;
  border: solid #fff;
}
.home-display .display-bd .ui-list.col-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
}
.home-display .display-bd .ui-list.col-3 .list-item {
  border-radius: 5px;
  background: #F1F3F4;
  width: calc(100%/3);
}
.home-display .display-bd .ui-list.col-3 .list-item:before {
  padding-top: 100%;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner {
  display: flex;
  flex-direction: column;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner img {
  width: 41px;
  display: block;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .jy {
  margin-bottom: 9px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .sgz {
  margin-bottom: 9.5px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .jr {
  margin-bottom: 9px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .jzxc {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .jj {
  width: 54px;
  height: 54px;
  margin-bottom: 4.5px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner .bysx {
  width: 45px;
  height: 45px;
  margin: 0 auto 7.5px;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner.cur p {
  color: #4A4A4A;
  font-weight: 700;
}
.home-display .display-bd .ui-list.col-3 .list-item .inner p {
  font-size: 15px;
  color: #ccc;
}
/* =E UI Component style 
==================================*/
/* =S content style 
==================================*/
#login {
  background-size: cover;
}
#login .title-area {
  padding-top: 33px;
}
#login .title-area .upload-box {
  margin-bottom: 24.5px;
  text-align: center;
}
#login .title-area .upload-box .iconfont {
  font-size: 111px;
}
#login .title-area .upload-box p {
  margin-top: 14.5px;
  color: #333333;
  text-align: center;
}
#login .title-area .man-or-woman {
  text-align: center;
  font-size: 0;
}
#login .title-area .man-or-woman button {
  width: 130px;
  padding: 10.5px 0;
  font-size: 15px;
  border-radius: 20px;
  background: #ccc;
}
#login .title-area .man-or-woman button:nth-child(1) {
  margin-right: 10px;
}
#login .title-area .man-or-woman button .iconfont {
  color: #D3A460;
  font-size: 19px;
}
#login .title-area .man-or-woman button.cur {
  background: #FFF2DF;
}
#login .content-area {
  padding: 0 11%;
}
#login .content-area h2 {
  text-align: center;
  font-size: 30px;
  color: #D3A460;
  margin-top: 72px;
  margin-bottom: 55px;
  height: 28px;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  line-height: 24px;
}
#login .content-area .ui-linkbtn {
  margin-bottom: 105px;
  font-size: 18px;
  background: linear-gradient(-45deg, #e0b372 0%, #d3a460 100%);
}
#login .content-area .other-login h3 {
  color: #999;
  text-align: center;
  font-size: 15px;
  margin-bottom: 29.5px;
}
#login .content-area .other-login p {
  margin-bottom: 148px;
  text-align: center;
}
#login .content-area .other-login p a {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: url(../../img/wechat.png) no-repeat;
  background-size: auto 100%;
}
#login .complete-registration .cr-text {
  color: #4A4A4A;
}
#login .complete-registration .cr-text .iconfont {
  font-size: 49px;
  color: #60D370;
}
#login .complete-registration .cr-text h3,
#login .complete-registration .cr-text h4,
#login .complete-registration .cr-text h5 {
  font-weight: 700;
}
#login .complete-registration .cr-text h3 {
  font-size: 24px;
  height: 22.5px;
  line-height: 24px;
  margin-bottom: 14.5px;
}
#login .complete-registration .cr-text h4 {
  font-size: 18px;
  height: 17.5px;
  line-height: 24px;
  margin-bottom: 74.5px;
}
#login .complete-registration .cr-text h5 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14.5px;
}
#login .complete-registration .cr-text .icon-complete {
  margin: 17px 0 20px 0;
}
#login .complete-registration .cr-text p {
  color: #666;
  line-height: 18px;
  margin-bottom: 99.5px;
}
#login .complete-registration .cr-text .mb {
  margin-bottom: 73.5px;
}
#login .complete-registration .cr-text .mb2 {
  margin-bottom: 100.5px;
  margin-top: 14.5px;
}
#login .complete-registration .tip {
  margin-bottom: 10px;
}
#login .complete-registration .ui-linkbtn {
  margin-bottom: 14px;
}
#login .head-area {
  box-shadow: none;
}
#login .no-account {
  margin-bottom: 27.5px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  height: 14.5px;
  color: #999;
}
#login .tab {
  padding-top: 25px;
  justify-content: center;
  font-weight: 700;
}
#login .tab a {
  text-align: center;
  color: #999;
  font-size: 24px;
}
#login .tab a:nth-child(1) {
  padding-right: 30px;
}
#login .tab a.cur {
  color: #D3A460;
}
#login .input-area {
  margin-top: 65px;
  padding-bottom: 40px;
  font-size: 15px;
}
#login .input-area .iconfont {
  font-size: 18px;
}
#login .input-area .ui-dl {
  margin-top: 50px;
}
#login .input-area .ui-dl .dt .iconfont {
  margin-right: 8px;
  vertical-align: bottom;
}
#login .input-area .ui-dl .dd {
  margin-top: 30px;
  padding-bottom: 9.5px;
  background: url(../../img/line-1px.png) repeat-x 0 bottom;
  display: flex;
}
#login .input-area .ui-dl .dd input {
  flex: 1;
}
#login .input-area .password .dd {
  position: relative;
}
#login .input-area .password .dd .icon {
  position: absolute;
  right: 0;
}
#login .input-area .password input {
  padding-right: 16px;
}
#login .input-area .auth-code input {
  margin-right: 51px;
  width: 119px;
}
#login .input-area .ui-linktext {
  margin-top: 25px;
  display: block;
}
#login .input-area.complete-info input {
  font-size: 12px;
  color: #999;
}
#login .input-area.complete-info input:focus {
  color: #333;
}
.ui-tab {
  box-shadow: 0 5px 5px #FAF9F8;
  background: #fff;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  margin-bottom: 5px;
  display: flex;
}
.ui-tab .t-item {
  flex: 1;
  font-size: 18px;
  text-align: center;
}
.ui-tab .t-item.cur {
  color: #D3A460;
}
.ui-tab .t-item.cur span {
  position: relative;
  margin-top: 15.5px;
  padding-bottom: 15.5px;
  word-break: keep-all;
}
.ui-tab .t-item.cur span sub {
  position: absolute;
  border-radius: 4px;
  background: #E30920;
  width: 8px;
  height: 8px;
}
.ui-tab .t-item.cur span em {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 2px;
  background: #D3A460;
}
.msg-list {
  background: #fff;
}
.msg-item {
  position: relative;
  padding: 13.5px 12px 7.5px;
  overflow: hidden;
}
.msg-item img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}
.msg-item .detail {
  float: left;
  color: #999;
}
.msg-item .detail h4 {
  color: #4A4A4A;
  margin-bottom: 9.5px;
  font-weight: 700;
}
.msg-item .detail .mark {
  font-size: 12px;
  display: inline-block;
  border-radius: 10px;
  background: rgba(211, 164, 96, 0.2);
  color: #D3A460;
  width: 63px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.msg-item .tip {
  position: absolute;
  top: 17.5px;
  right: 12px;
  font-size: 12px;
}
.ui-operation-foot {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 4px 0;
  font-size: 12px;
}
.ui-operation-foot li {
  flex: 1;
  text-align: center;
}
.ui-operation-foot p {
  font-size: 11px;
  line-height: 19px;
}
.ui-operation-foot li.cur .jia {
  background-image: url(../../img/jia-2.png);
}
.ui-operation-foot li.cur .yu {
  background-image: url(../../img/yu-2.png);
}
.ui-operation-foot li.cur .liu {
  background-image: url(../../img/liu-2.png);
}
.ui-operation-foot li.cur .fang {
  background-image: url(../../img/fang-2.png);
}
.ui-operation-foot .pic {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../../img/jia.png) no-repeat;
  background-size: contain;
}
.ui-operation-foot .jia {
  background-image: url(../../img/jia.png);
  background-size: 24px 24px;
}
.ui-operation-foot .yu {
  background-image: url(../../img/yu.png);
  background-size: 24px 24px;
}
.ui-operation-foot .liu {
  background-image: url(../../img/liu.png);
  background-size: 24px 24px;
}
.ui-operation-foot .fang {
  background-image: url(../../img/fang.png);
  background-size: 24px 24px;
}
.ui-operation-foot .publish {
  background: #fff;
  color: #D3A460;
}
.ui-operation-foot .publish i {
  font-size: 24px;
}
.ui-operation-foot .publish > div {
  border-radius: 100%;
  background: #fff;
  display: inline-block;
  width: 47px;
  height: 47.5px;
  background: url(../../img/foot-add.png) no-repeat;
  background-size: 100%;
  position: relative;
  top: -18px;
  line-height: 40px;
}
.system .ta-c {
  padding: 15px 0;
}
#birthday-blessing .ui-linkbtn {
  margin: 0 30px;
  margin-bottom: 19.5px;
}
.birthday-card h4 {
  padding: 4px 0 15px 0;
  color: #F14D4E;
  font-size: 18px;
}
.birthday-card .pic-box {
  padding: 0 12px;
  margin-bottom: 30px;
}
.birthday-card .pic-box img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.family-id {
  text-align: center;
  color: #fff;
}
.family-id h2 {
  font-size: 24px;
  margin-bottom: 13.5px;
}
.family-operation-list {
  display: flex;
  border-radius: 11.5px;
  background: #fff;
  width: 330px;
  margin-top: 29px;
  padding: 24px 0;
  margin: 28.5px auto 9px;
}
.family-operation-list li {
  flex: 1;
  color: #4A4A4A;
  text-align: center;
}
.family-operation-list p {
  line-height: 24px;
  font-size: 15px;
}
.family-operation-list .iconfont {
  font-size: 22px;
}
.ui-title {
  font-size: 18px;
  color: #4A4A4A;
  position: relative;
  width: 80px;
  height: 20.5px;
  margin: 0 auto;
  text-align: center;
}
.ui-title em {
  width: 100%;
  height: 10px;
  position: absolute;
  background: #ccc;
  bottom: 0;
  border-radius: 0 10px 0 10px;
}
.cont-family .f-title {
  margin-bottom: 25px;
  background: #fff;
}
.cont-family .f-title p {
  color: #4A4A4A;
  position: relative;
  width: 80px;
  margin: 0 auto;
  text-align: center;
}
.cont-family .f-title span {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.cont-family .f-title em {
  width: 100%;
  height: 10px;
  position: absolute;
  background: #EBEBEB;
  bottom: 0;
  border-radius: 0 10px 0 10px;
  left: 0;
}
.cont-family .f-list {
  background: #fff;
}
.cont-family .fl-item {
  position: relative;
  margin: 0 11.5px;
}
.cont-family .fl-item .line {
  height: 1px;
  background: #EDEDED;
  margin-bottom: 24.5px;
}
.cont-family .fl-item .hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cont-family .fl-item .hd .left {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.cont-family .fl-item .hd .left img {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 12px;
}
.cont-family .fl-item .hd .right span {
  color: #999999;
  font-size: 12px;
}
.cont-family .fl-item .bd {
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
}
.cont-family .fl-item .bd .pic-list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cont-family .fl-item .bd .pic-list li {
  float: left;
  position: relative;
  width: 30.95238095%;
  display: flex;
  /*设置为flex布局*/
  justify-content: center;
  /*水平居中*/
  align-items: center;
  margin-bottom: 11.5px;
  /*垂直居中*/
}
.cont-family .fl-item .bd .pic-list li:before {
  content: '';
  padding-top: 100%;
  display: block;
}
.cont-family .fl-item .bd .pic-list li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.cont-family .fl-item .bd .pic-list li .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.cont-family .fl-item .bd .pic-list li .more em {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.cont-family .fl-item .bd .pic-list li .more span {
  display: block;
  transform: translateY(-50%);
  position: relative;
  top: 48%;
  z-index: 2;
  font-size: 30px;
  color: #fff;
}
.cont-family .f-ft {
  margin: 0 11.5px 25px;
  line-height: 24px;
  font-size: 15px;
}
.cont-apply {
  line-height: 43.5px;
  color: #fff;
  text-align: center;
  background: #D3A460;
}
.ui-onOffBtn {
  position: relative;
}
.ui-onOffBtn label {
  display: block;
  width: 31px;
  height: 18px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ui-onOffBtn input:checked + label {
  background: #34bf49;
}
.ui-onOffBtn input:checked + label:after {
  left: 16px;
}
.ui-onOffBtn input:checked + label:active:after {
  left: 0.5rem;
}
.ui-onOffBtn input:disabled + label {
  background: #d5d5d5;
  pointer-events: none;
}
.ui-onOffBtn input:disabled + label:after {
  background: #bcbdbc;
}
.ui-onOffBtn label:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0.05rem;
  top: 0.05rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cont-page-banner {
  height: 202px;
  background: url(../../img/home-header.png) no-repeat;
  background-size: cover;
}
.cont-wrap {
  margin: 0 12px;
}
.cont-wrap-p {
  padding: 0 12px;
}
.blank {
  height: 147px;
}
.cont-personal-info {
  margin-bottom: 4.5px;
}
.cont-personal-info .img-wrap {
  position: relative;
  top: -25px;
  border-radius: 100%;
}
.cont-personal-info .img-wrap img {
  width: 50px;
  height: 50px;
}
.cont-personal-info .name {
  color: #4A4A4A;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 10.5px;
}
.cont-personal-info .name .icon {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/man.png) no-repeat;
  background-size: cover;
}
.cont-personal-info .name .icon.man {
  background: url('../../img/man.png') no-repeat;
}
.cont-personal-info .name .icon.woman {
  background: url(../../img/woman.png) no-repeat;
}
.cont-personal-info .birthday {
  color: #4A4A4A;
  margin-bottom: 8.5px;
  line-height: 12px;
}
.cont-personal-info .birthday .icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('../../img/cake.png') no-repeat;
}
.cont-personal-info .speech {
  color: #999;
  line-height: 12.5px;
  padding-bottom: 24px;
}
.publish-tab {
  overflow: hidden;
  width: 258px;
  margin: 0 auto 25.5px;
  display: flex;
}
.publish-tab .publish-tab-item {
  flex: 0.333;
  text-align: center;
  line-height: 46px;
  width: 51px;
  color: #4A4A4A;
}
.publish-tab .publish-tab-item.cur {
  border-bottom: 2px solid #DEB06E;
  color: #D3A460;
  font-size: 24px;
}
.publish-title {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4A4A4A;
  text-align: center;
}
.publish-title h2 {
  font-size: 30px;
  line-height: 28.5px;
  margin-bottom: 7.5px;
}
.publish-title a {
  display: block;
}
.activity-display .hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.activity-display .hd .left img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8.5px;
}
.activity-display .hd .right span {
  color: #999;
}
.activity-display .bd {
  width: 100%;
}
.activity-display .bd .list-item,
.activity-display .bd li {
  position: relative;
}
.activity-display .bd .list-item img,
.activity-display .bd li img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.activity-display .display-list {
  clear: float;
}
.activity-display .display-list .left {
  float: left;
}
.activity-display .display-list .right {
  float: left;
}
.activity-display .type-1 {
  padding: 0 12px;
}
.activity-display .type-1 li {
  height: 220px;
}
.activity-display .type-2 {
  padding-left: 12px;
}
.activity-display .type-2 .list-item {
  float: left;
  width: 162px;
  height: 162px;
  margin-right: 12px;
}
.activity-display .type-2 .list-item:nth-child(1) {
  margin-right: 12px;
}
.activity-display .type-3 {
  overflow: hidden;
  padding-left: 12px;
}
.activity-display .type-3 .left,
.activity-display .type-3 .right {
  float: left;
}
.activity-display .type-3 .right {
  width: 104px;
}
.activity-display .type-3 .left .list-item {
  margin: 0 12px 12px 0;
  width: 220px;
  height: 220px;
}
.activity-display .type-3 .right .list-item {
  width: 104px;
  height: 104px;
  margin: 0 0 12px 12px;
}
.activity-display .row-1-col-2 {
  padding-left: 12px;
}
.activity-display .row-1-col-2 .list-item {
  float: left;
  width: 162px;
  height: 162px;
  margin-right: 12px;
}
.activity-display .row-1-col-2 .list-item:nth-child(1) {
  margin-right: 12px;
}
.activity-display .rowspan-2-col-2 {
  overflow: hidden;
  padding-left: 12px;
}
.activity-display .rowspan-2-col-2 .left,
.activity-display .rowspan-2-col-2 .right {
  float: left;
}
.activity-display .rowspan-2-col-2 .right {
  width: 104px;
}
.activity-display .rowspan-2-col-2 .left .list-item {
  margin: 0 0 12px 0;
  width: 220px;
  height: 220px;
}
.activity-display .rowspan-2-col-2 .right .list-item {
  width: 104px;
  height: 104px;
  margin: 0 0 12px 12px;
}
.activity-display .row-2-colspan-2 {
  overflow: hidden;
  padding-left: 12px;
}
.activity-display .row-2-colspan-2 .left,
.activity-display .row-2-colspan-2 .right {
  float: left;
}
.activity-display .row-2-colspan-2 .left .list-item {
  width: 104px;
  height: 104px;
  margin: 0 12px 12px 0;
}
.activity-display .row-2-colspan-2 .right .list-item {
  width: 220px;
  height: 220px;
}
.activity-display .row-1-col-1 .list-item {
  width: 336px;
  height: 220px;
  padding: 0 12px;
}
.activity-display .row-1-col-3 {
  overflow: hidden;
  padding-left: 12px;
}
.activity-display .row-1-col-3 .list-item {
  float: left;
  width: 104px;
  height: 104px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.ui-imgbox {
  width: 100%;
  height: 100%;
}
.ui-imgbox img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.ui-imgbox:before {
  content: '';
  display: block;
  margin-top: 100%;
}
.photo-operation-bar {
  overflow: hidden;
  padding: 0 12px 5px 12px;
  border-bottom: 0.5px solid #EDEDED;
}
.photo-operation-bar .left {
  float: left;
}
.photo-operation-bar .right {
  float: right;
}
.photo-operation-bar .right .ui-linkbtn {
  padding: 0 15px;
}
.msg-box {
  position: absolute;
  bottom: 30.5px;
  left: 0;
  overflow: hidden;
}
.msg-box .msgbox-item {
  float: left;
  margin-right: 8px;
  border-radius: 27.5px;
  padding: 10px 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}
.msg-box .msgbox-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
.msg-box .msgbox-item .info {
  float: left;
  margin-left: 5.5px;
}
.msg-box .msgbox-item .info h3 {
  color: #ccc;
  font-size: 12px;
}
.msg-box .msgbox-item .info p {
  color: #fff;
  font-size: 15px;
}
.fullpage-video-box {
  position: relative;
  height: 594px;
  width: 100%;
}
.fullpage-video-box .pic-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullpage-video-box .pic-box img {
  width: 100%;
  height: auto;
}
.fullpage-video-box .icon-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/video.png) no-repeat center center rgba(0, 0, 0, 0.2);
  background-size: 80px 80px;
}
.photo-footer {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 7px 0;
}
.photo-footer .footer-item {
  flex: 1;
  text-align: center;
  color: #fff;
}
.photo-footer .footer-item .iconfont {
  font-size: 19px;
}
.photo-footer .footer-item h3 {
  margin-bottom: 4px;
}
.photo-footer .footer-item p {
  font-size: 12px;
}
.no-shadow {
  box-shadow: none;
}
.album-detail-banner {
  height: 166px;
  background: url(../../img/album-detail-banner.png) no-repeat;
  background-size: cover;
}
.album-like-bar {
  padding: 15px 12px;
  overflow: hidden;
}
.album-like-bar .left {
  float: left;
}
.album-like-bar .left a {
  float: left;
  margin-right: 10px;
}
.album-like-bar .left a img {
  width: 22.5px;
  height: 22.5px;
  border-radius: 100%;
}
.album-like-bar .right {
  float: right;
}
.album-like-bar .right .num {
  font-size: 15px;
}
.album-like-bar .right .iconfont {
  font-size: 20px;
  vertical-align: middle;
}
.gray-space {
  height: 5px;
  background: #EFF1F2;
  width: 100%;
}
.leave-msg-box .hd {
  font-size: 18px;
  border-bottom: 1px solid #EDEDED;
  padding: 15px 12px;
}
.leave-msg-box .list .list-item {
  overflow: hidden;
  margin-left: 12px;
  padding: 20px 0;
  padding-right: 12px;
  border-bottom: 1px solid #EDEDED;
}
.leave-msg-box .list .list-item .left {
  float: left;
}
.leave-msg-box .list .list-item .left img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 9.5px;
}
.leave-msg-box .list .list-item .left .cont {
  float: left;
}
.leave-msg-box .list .list-item .left .cont h3 {
  font-size: 12px;
  color: #666;
}
.leave-msg-box .list .list-item .left .cont p {
  font-size: 15px;
}
.leave-msg-box .list .list-item .right {
  float: right;
  color: #999;
}
.leave-msg-box .list .list-item .right span {
  font-size: 15px;
}
.leave-msg-box .more {
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
  color: #999;
}
.photo-info-box .hd {
  font-size: 18px;
  border-bottom: 1px solid #EDEDED;
  padding: 15px 12px;
}
.photo-info-box .bd {
  border-bottom: 1px solid #EFF1F2;
}
.photo-info-box .bd p {
  font-size: 15px;
  padding: 10px 12px;
}
.post-a-message-box {
  overflow: hidden;
  padding: 8px 12px;
}
.post-a-message-box .input {
  width: 258px;
  padding: 8px 16px;
  float: left;
  background: #f1f3f4;
  border-radius: 16px;
}
.post-a-message-box .btn {
  float: right;
  font-size: 15px;
}
.album-person {
  padding-left: 12px;
}
.album-person .album-person-item {
  float: left;
  margin: 0 12px 12px 0;
}
.album-person .album-person-pic {
  width: 104px;
  height: 104px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.album-person .album-person-name {
  font-size: 18px;
  text-align: center;
}
.person-detail-hd {
  padding: 20px 12px;
  overflow: hidden;
}
.person-detail-hd .pic {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 100%;
  margin-right: 10px;
}
.person-detail-hd .info {
  float: left;
}
.person-detail-hd .info .name {
  font-size: 18px;
}
.person-detail-hd .info .detail {
  color: #999;
  font-size: 15px;
}
.change-light-box {
  position: relative;
  color: #fff;
  height: 100%;
}
.change-light-box .change-light-list {
  height: 100%;
}
.change-light-box .change-light-item {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.change-light-box .change-light-item img {
  height: 100%;
  width: 100%;
}
.change-light-box .change-light-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 28px 12px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.change-light-box .change-light-info img {
  width: 27px;
  height: 27px;
  margin-right: 11px;
  vertical-align: middle;
}
.huandengpian.photo-footer {
  background-color: #fff;
}
.huandengpian.photo-footer p,
.huandengpian.photo-footer .iconfont {
  color: #4A4A4A;
}
.music-list .music-list-item {
  border-bottom: 1px solid #EDEDED;
  padding: 20px 0;
  margin: 0 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.music-list .music-list-item .music-name {
  font-size: 15px;
}
.music-list .music-list-item .iconfont {
  display: none;
}
.music-list .music-list-item.cur {
  color: #D3A460;
}
.music-list .music-list-item.cur .iconfont {
  display: block;
  font-size: 7.5px;
}
