<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
</head>
<body class="bgPic">
	<div id="login" class="container">
		<div class="head-area">
			<a href="##" class="left icon icon-left-arrow">&#xe647;</a>
		</div>
		<div class="content-area">
			<h2>登录</h2>
				<a href="##" class="ui-linkbtn">手机号登录</a>
			<div class="other-login">
				<h3>第三方登录</h3>
				<p>
					<a href="##"></a>
				</p>
			</div>
			<div class="no-account">
				<span>还没有账号？</span><a href="##" class="ui-linktext">立即注册</a>
			</div>
		</div>
		
	</div>	
</body>
</html>