<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div id="login" class="container">
		
		<div class="head-area">
			<a href="##" class="left-arrow"></a>
		</div>
		<div class="content-area">
			<h2>登录</h2>
				<a href="##" class="link-btn">手机号登录</a>
			<div class="other-login">
				<h3>第三方登录</h3>
				<p>
					<a href="##"></a>
				</p>
			</div>
			
		</div>
		<div class="foot-area">
			还没有账号？<a href="##" class="clickable">立即注册</a>
		</div>
	</div>	
</body>
</html>