<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>


	<div id="login" class="container">
		
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
		</div>
		<div class="content-area">
			<p class="title-area">验证码已发送至＋86 <span class="highlight">18210828812</span> </p>
			
			<div class="input-area">
				<dl class="ui-dl auth-code">
					<dt class="dt"><i class="iconfont">&#xe648;</i>验证码</dt>
					<dd class="dd"><input type="password" maxlength="4" placeholder="请输入四位验证码"><span class="ui-linkbtn-2">获取验证码</span></dd>
				</dl>
				<dl class="ui-dl password">
					<dt class="dt"><i class="iconfont">&#xe718;</i>密码</dt>
					<dd class="dd"><input type="password" maxlength="11" placeholder="请输入6-16位密码"><span class="icon"><i class="iconfont" style="display: block;">&#xe60d;</i></span></dd>
				</dl>
			</div>
			<a href="##" class="ui-linkbtn">下一步</a>
			
		</div>

	</div>	

	<script>
		
	</script>
</body>
</html>