<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>


	<div id="login" class="container">
		
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
			用户协议
		</div>
		<div class="content-area">
			<div class="ui-article">
				<h4>一、特别提示 </h4>
				<p>
					在此特别提醒您(用户)在注册成为家语留芳用户之前,请认真阅读本《家语留芳用户服务协议》(以下简称“协议”),
				</p>
			</div>
			
		</div>

	</div>	

	<script>
		
	</script>
</body>
</html>