<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>


	<div id="login" class="container">
		
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
		</div>
		<div class="content-area">
			<div class="title-area">
				<div class="upload-box">
					<i class="iconfont">&#xe604;</i>
					<p>上传头像</p>
				</div>
				<div class="man-or-woman">
					<button type="button" class="cur">
						<i class="iconfont">&#xe695;</i>男
					</button>
					<button type="button">
						<i class="iconfont">&#xe694;</i>女
					</button>
				</div>
			</div>
			
			<div class="input-area complete-info">
				<dl class="ui-dl auth-code">
					<dt class="dt">您的真实姓名</dt>
					<dd class="dd"><input type="text" placeholder="真实姓名有助于您识别家族成员"></dd>
				</dl>
				<dl class="ui-dl">
					<dt class="dt">您的出生年月</dt>
					<dd class="dd"><input type="text" placeholder="仅用作推荐的依据，家语留芳会帮您保密"><span class="icon"><i class="iconfont" style="display: block;">&#xe600;</i></span></dd>
				</dl>
			</div>
			<a href="##" class="ui-linkbtn">下一步</a>
			
		</div>

	</div>	

	<script>
		
	</script>
</body>
</html>