<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div id="login" class="container">
		
		<div class="head-area">
			<div class="right"><a href="##" class="skip">跳过</a></div>
		</div>
		<div class="content-area complete-registration">
			<div class="cr-text">
				<p><i class="iconfont">&#xe69e;</i></p>
				<h3>完成注册</h3>
				<h4 class="mb">欢迎成为家语留芳一员</h4>

				<h4>接下来，你可以上传照片</h4>
				<h4>与亲人共享快乐</h4>
				<p class="mb2">在这里，你可以与亲人互动交流 记录时光，一起来成长吧。</p>
				
			</div>
			
			<p class="ta-c tip">成功加入【张氏家族】</p>
			<a href="##" class="ui-linkbtn">搜索家族</a>
			<p class="ta-c operation"><a href="##" class="ui-linktext">建立新家族</a></p>
		</div>

	</div>	

	<script>
		
	</script>
</body>
</html>