<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body class="bgPic">
	<div id="login" class="container">
		
		<div class="head-area">
			<div class="right"><a href="##" class="skip">跳过</a></div>
		</div>
		<div class="content-area complete-registration">
			<div class="cr-text">
				<div><i class="icon icon-complete">&#xe69e;</i></div>
				<h3>完成注册</h3>
				<h4 class="mb">欢迎成为家语留芳一员</h4>

				<h5>接下来，你可以上传照片<br>
				与亲人共享快乐</h5>
				<p class="mb2">在这里，你可以与亲人互动交流 记录时光，一起来成长吧。</p>
				
			</div>
			
			<p class="ta-c tip">成功加入【张氏家族】</p>
			<a href="##" class="ui-linkbtn">搜索家族</a>
			<p class="ta-c operation"><a href="##" class="ui-linktext">建立新家族</a></p>
		</div>

	</div>	

	<script>
		
	</script>
</body>
</html>