<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>任务大厅</span>
		</div>

		<div class="ui-list bg-white">
			<div class="list-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
			<div class="list-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
			<div class="list-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
		</div>

	</div>	
</body>
</html>