<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>任务大厅</span>
		</div>

		<div class="ui-list bg-white">
			<div class="l-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
			<div class="l-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
			<div class="l-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
		</div>

	</div>	
</body>
</html>