<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>我的家族</span>
		</div>

		<div class="search-wrap">
			<div class="ui-search">
				<input type="text" class="txt">
				<span class="placeholder"><i class="iconfont">&#xe60b;</i> <em>搜索</em></span>
			</div>
			
		</div>

		<div class="ui-list bg-white">
			<div class="l-item">
				<div class="left"><span class="firstname">张</span></div>
				<div class="right">
					<h4 class="title">张氏家族<span class="highlight">[默认]</span></h4>
					<p class="cont">ID：F180705000001</p>
					<span class="ui-linkbtn">申请加入</span>
				</div>
				
			</div>
			<div class="l-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
			<div class="l-item">
				<h4 class="title">任务一（3/10）</h4>
				<p class="cont">邀请用户并让其加入家族，奖励0.5GB</p>
				<span class="ui-linkbtn">去完成</span>
			</div>
		</div>

	</div>	
</body>
</html>