<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white bottom-box-shadow">
			<div class="search-wrap focus">
				<div class="ui-search">
					<input type="text" class="txt">
					<span class="placeholder"><i class="icon icon-fangdajing">&#xe60b;</i> <em>搜索</em></span>
				</div>
				<div class="search-cancel"><span>取消</span></div>
				
			</div>
		</div>

		<div class="ui-list bg-white">
			<div class="l-item">
				<div class="left"><span class="firstname">张</span></div>
				<div class="right">
					<h4 class="title">张氏家族<span class="highlight">[默认]</span></h4>
					<p class="cont">ID：F180705000001</p>
					<span class="ui-linkbtn disabled">已加入</span>
				</div>
			</div>
			<div class="l-item">
				<div class="left"><span class="firstname" style="background: #2DC69C;">刘</span></div>
				<div class="right">
					<h4 class="title">张氏家族<span class="highlight">[默认]</span></h4>
					<p class="cont">ID：F180705000001</p>
					<span class="ui-linkbtn">申请加入</span>
				</div>
			</div>
		</div>

	</div>	
</body>
</html>