<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container bg-white">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>申请加入</span>
			<div class="right"><a href="##" class="highlight">发送</a></div>
		</div>

		<p class="ui-tip">你需要发送验证申请，等待对方通过</p>
			
		<div class="ui-input-box underline"><input type="text" class="txt" value="张山"><i class="iconfont">&#xe605;</i></div>

	</div>	
</body>
</html>