<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div class="container bg-white">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>申请加入</span>
			<div class="right"><a href="##" class="highlight">发送</a></div>
		</div>

		<p class="ui-tip">你需要发送验证申请，等待对方通过</p>

		<div class="ui-input"><input type="text" class="txt" value="张山"><i class="iconfont">&#xe605;</i></div>

	</div>	
</body>
</html>