<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body class="bgPic-2">
	<div class="container">
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
			<div class="right"><i class="iconfont">&#xe61e;</i></div>
		</div>

		<div class="family-id">
			<h2>张氏家族</h2>
			<p>ID：F18070500000</p>
		</div>
		
		<ul class="family-operation-list">
			<li><i class="iconfont">&#xe61c;</i><p>家族成员</p></li>
			<li><i class="iconfont">&#xe64a;</i><p>照片相册</p></li>
			<li><i class="iconfont">&#xe62a;</i><p>邀请分享</p></li>
		</ul>
		<div class="cont-family">
			<div class="f-title"><p><span>家动态</span><em></em></p> </div>
			<ul class="f-list">
				<li class="fl-item">
					<div class="line"></div>
					<div class="hd">
						<div class="left">
							<img src="https://via.placeholder.com/80x80/d2b488/fff?text=photo" alt=""> <span>张演</span>
						</div>
						<div class="right"><span>刚刚</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""><div class="more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
				<li class="fl-item">
					<div class="line"></div>
					<div class="hd">
						<div class="left">
							<img src="https://via.placeholder.com/80x80/d2b488/fff?text=photo" alt=""> <span>张演</span>
						</div>
						<div class="right"><span>刚刚</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""><div class="more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
			</ul>
			<!-- <div class="personal-dynamic">
				<div class="hd">
					<div class="left">
						<img src="" alt=""> 张演
					</div>
					<div class="right">刚刚</div>
				</div>
				<div class="bd">
					<ul class="pic-list">
						<li><img src="" alt=""></li>
					</ul>
				</div>
			</div> -->
			<p class="f-ft"><span>2018-6-1 08:08:11</span>   <span>由张三丰 创建张氏家族</span></p>
		</div>
			

	</div>	
</body>
</html>