<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body class="bgPic-2">
	<div class="container">
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
			<div class="right"><i class="iconfont">&#xe61e;</i></div>
		</div>

		<div class="family-id">
			<h2>张氏家族</h2>
			<p>ID：F18070500000</p>
		</div>
		
		<ul class="family-operation-list">
			<li><i class="iconfont">&#xe61c;</i><p>家族成员</p></li>
			<li><i class="iconfont">&#xe64a;</i><p>照片相册</p></li>
			<li><i class="iconfont">&#xe62a;</i><p>邀请分享</p></li>
		</ul>
		<div class="cont-family">
			<div class="f-title"><p><span>家动态</span><em></em></p> </div>
			<ul class="f-list">
				<li class="fl-item">
					<div class="line"></div>
					<div class="hd">
						<div class="left">
							<img src="https://via.placeholder.com/80x80/d2b488/fff?text=photo" alt=""> <span>张演</span>
						</div>
						<div class="right"><span>刚刚</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""><div class="more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
				<li class="fl-item">
					<div class="line"></div>
					<div class="hd">
						<div class="left">
							<img src="https://via.placeholder.com/80x80/d2b488/fff?text=photo" alt=""> <span>张演</span>
						</div>
						<div class="right"><span>9分钟前</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""></li>
							<li><img src="https://via.placeholder.com/216x204/d2b488/fff?text=pic" alt=""><div class="more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
			</ul>
			<p class="f-ft">非家族成员，只能看最近3条动态</p>
		</div>
		<div class="cont-apply"><span>申请加入</span></div>	

	</div>	
</body>
</html>