<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>系统设置</span>
		</div>
		<div class="content-area">
			<ul class="ui-arrow-list bg-white">
				<li class="al-item">
					<div class="left"><span>账号与安全</span></div>
					<div class="right"><i class="iconfont">&#xe600;</i></div>
				</li>
				<li class="al-item">
					<div class="left"><span>账号与安全</span></div>
					<div class="right"><div class="ui-onOffBtn"><input type="checkbox" id="onOffBtn" name=""><label for="onOffBtn"></label></div></div>
				</li>
			</ul>
			
			<button class="ui-linkbtn flud bottom" type="button">退出登录</button>
		</div>
		

	</div>	
</body>
</html>