<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>手机号</span>
		</div>
		<div class="content-area">
			<ul class="ui-arrow-list bg-white">
				<li class="al-item">
					<div class="left"><span>手机号</span></div>
					<div class="right"><span>133****2222</span><i class="iconfont">&#xe600;</i></div>
				</li>
				
			</ul>
			<p class="ui-tip">一个手机号只能绑定一个账号</p>
			<button class="ui-linkbtn flud bottom" type="button">退出登录</button>
		</div>
		
	</div>	
</body>
</html>