<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>更换手机号</span>
		</div>
		<div class="content-area">
			<ul class="ui-list bg-white">
				<li class="l-item underline"><input class="ui-input" type="text" placeholder="请输入您的手机号"></li>
				<li class="l-item"><input class="ui-input" type="text" placeholder="请输入6位短信验证码"> <button class="ui-linkbtn size-s" type="button">发送验证码</button></li>
			</ul>
			<p class="ui-tip">一个手机号只能绑定一个账号</p>
			<button class="ui-linkbtn flud bottom" type="button">确定绑定</button>
		</div>
		
	</div>	
</body>
</html>