<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container bg-white">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>关于我们</span>
		</div>
		<div class="content-area">
			<div class="ui-article">
				<p>这里是管理后台配置的内容，可以是介绍产品的，也可以是团队的，总之不管是什么内容，总之不管是什么内容，都来自后台的富文本编辑器所</p>
				<div class="img-box">
					<img src="https://via.placeholder.com/672x348/d2b488/fff?text=tu" alt="">
				</div>
				<p>这里是管理后台配置的内容，可以是介绍产品的，也可以是团队的，总之不管是什么内容，总之不管是什么内容，都来自后台的富文本编辑器所</p>
			</div>
		</div>
		
	</div>	
</body>
</html>