<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>意见反馈</span>
		</div>
		<div class="content-area bg-white">
			<p class="ui-tip bg-white">请填写您对家雨留芳的意见，我们将不断改进，谢谢！</p>
			<div class="ui-textarea m-lr">
				<div class="inner">
					<textarea name="" id="" cols="30" rows="10"></textarea>
					<span class="t-info">0/300</span>
				</div>
				
			</div>
		</div>
		<button class="ui-linkbtn flud bottom" type="button">提交</button>
	</div>	
</body>
</html>