<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div class="container">
		<div class="head-area">
			<a href="##" class="left iconfont">&#xe647;</a>
		</div>
		<div class="content-area">
			<div class="blank"></div>
			<div class="cont-personal-info pr p-lr bg-white">
				<div class="img-wrap">
					<img src="../../asset/img/touxiang.png" alt="">
				</div>
				<h2 class="name"><span>张三姐</span> <i class="icon man"></i></h2>
				<p class="birthday"><i class="icon"></i><span>7月12日,距今3天</span></p>
				<p class="speech">生活就是工作，工作就是生活</p>
			</div>
			<div class="cont-personal-detail">
				<ul class="ui-tab">
					<li class="t-item cur">
						<span>动态<sub></sub><em></em></span>
					</li>
					<li class="t-item">
						<span>时光轴</span>
					</li>
					
				</ul>
				<div class="pd-detail">
					<div class="ui-coming-soon">
						<i class="iconfont">&#xe644;</i>
						<p class="cs-txt">敬请期待</p>
					</div>
				</div>
			</div>
			
		</div>

	</div>	
</body>
</html>