<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<div class="head-area bg-white mg-s">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>系统消息
</span>
		</div>
		<div class="content-area">
			<div class="system">
				<div class="ta-c"><span class="ui-tag">2018.07.02 10:01:09</span></div>
				<div class="ui-article">
					<p>欢迎您加入家语留芳，在这</p>
				</div>
			</div>
		</div>
		<div class="foot-area">
			<ul class="ui-operation-foot">
			<li>
				<p><img src="" alt=""></p>
				<p>首页</p>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>发现</p>
			</li>
			<li class="publish">
				<div><i>+</i></div>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>消息</p>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>我的</p>
			</li>
		</ul>
		</div>
			
	</div>	
</body>
</html>