<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div class="container">
		<ul class="ui-tab">
			<li class="t-item"><span>家族消息<sub></sub><em></em></span></li>
			<li class="cur t-item"><span>系统消息<sub></sub><em></em></span></li>
		</ul>
		<div class="msg-list">
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">刚刚</span>
				</div>
			</div>
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">昨天</span>
				</div>
			</div>
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">2017.07.11</span>
				</div>
			</div>
		</div>
		<ul class="ui-operation-foot">
			<li>
				<p><img src="" alt=""></p>
				<p>首页</p>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>发现</p>
			</li>
			<li class="publish">
				<div><i>+</i></div>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>消息</p>
			</li>
			<li>
				<p><img src="" alt=""></p>
				<p>我的</p>
			</li>
		</ul>	
	</div>	
</body>
</html>