<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div class="container">
		<ul class="ui-tab">
			<li class="t-item"><span>家族消息<sub></sub><em></em></span></li>
			<li class="cur t-item"><span>系统消息<sub></sub><em></em></span></li>
		</ul>
		<div class="msg-list">
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">刚刚</span>
				</div>
			</div>
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">昨天</span>
				</div>
			</div>
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4>系统消息</h4>
					<p>张志远申请加入“张氏家族”</p>
					<span class="tip">2017.07.11</span>
				</div>
			</div>
		</div>
		<ul class="ui-operation-foot">
			<li class="cur">
				<div class="pic jia"></div>
				<p>首页</p>
			</li>
			<li>
				<div class="pic yu"></div>
				<p>发现</p>
			</li>
			<li class="publish">
				<div><i>+</i></div>
			</li>
			<li>
				<div class="pic liu"></div>
				<p>消息</p>
			</li>
			<li>
				<div class="pic fang"></div>
				<p>我的</p>
			</li>
		</ul>
	</div>	
</body>
</html>