<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript">
		var pixclPatio = 1 / window.devicePixelRatio;
			document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			var html = document.getElementsByTagName('html')[0];
			var pageWidth = html.getBoundingClientRect().width;
			html.style.fontSize = pageWidth / 16 + 'px';

	</script>
</head>
<body>
	<div id="birthday-blessing" class="container bg-white">
		<div class="head-area bg-white mg-s">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span>张三
</span>
		</div>
		<div class="content-area bg-white">
			<div class="msg-item">
				<img src="../../asset/img/email.png" alt="">
				<div class="detail">
					<h4 class="ta-c">张志远 <span class="ui-tag2">张氏家族</span></h4>
					<span class="tip">刚刚</span>
				</div>
			</div>
			
			<div class="birthday-card">
				<h4 class="ta-c">祝你生日快乐，开心每一天。</h4>
				<div class="pic-box">
					<img src="../../asset/img/birthday-card.png" alt="">
				</div>
			</div>

			<a class="ui-linkbtn" href="##">晒一晒</a>
			<p class="ta-c">还有7人发来祝福，<a href="##" class="highlight">点击查看</a></p>
		</div>
		
		
	</div>	
</body>
</html>