<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body>
	<div id="birthday-blessing" class="container bg-white">
		<div class="head-area bg-white bottom-box-shadow">
			<a href="##" class="left icon icon-left-arrow">&#xe647;</a>
			<span class="center">张三</span>
		</div>
		<div class="content-area bg-white">
			<div class="cont-birthday-card">
				<div class="birthday-card-hd">
					<div class="ui-personal-title">
						<div class="left"><img class="personal-photo" src="../../asset/img/email.png" alt=""></div>
						<div class="center"><span class="name">张志远</span><span class="ui-tag2">张氏家族</span></div>
						<div class="right"><span class="time">两天前</span></div>
					</div>
				</div>
				<div class="birthday-card-bd">
					<h3 class="title">祝你生日快乐，开心每一天。</h3>
					<div class="img-box">
						<img src="../../asset/img/birthday-card.png" alt="">
					</div>
				</div>
				<div class="birthday-card-ft">
					<a class="ui-linkbtn" href="##">晒一晒</a>
					<p class="info ta-c">还有7人发来祝福，<a href="##" class="highlight">点击查看</a></p>
				</div>
			</div>
		
		</div>
	</div>	
</body>
</html>