<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">相册</span>
            <div class="right"><i class="iconfont mr-48">&#xe62f;</i><i class="iconfont">&#xe620;</i></div>
        </div>
        <div class="publish-title">
            <h2>张氏家族</h2>
            <div>
                <a href="##" class="ui-linkbtn size-s"><i class="iconfont">&#xe62b;</i>切换家族</a>
            </div>
        </div>
        <ul class="publish-tab">
            <li class="publish-tab-item"><span>发布</span></li>
            <li class="publish-tab-item cur"><span>照片</span></li>
            <li class="publish-tab-item"><span>分类</span></li>
        </ul>
        <div class="photo-operation-bar">
            <div class="left"><i class="iconfont">&#xe606;</i></div>
            <div class="right">
                <button class="ui-linkbtn simple" type="button">添加</button>
                <button class="ui-linkbtn simple" type="button">多选</button>
            </div>
        </div>
        <div class="photo-display">
            <div class="hd">今天</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="favour">
                                    <i class="iconfont">&#xe611;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="photo-display">
            <div class="hd">今天</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="favour">
                                    <i class="iconfont">&#xe611;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>