<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">相册</span>
            <div class="right"><i class="iconfont">&#xe62f;</i><i class="iconfont">&#xe620;</i></div>
        </div>
        <div class="publish-title">
            <h2>张氏家族</h2>
            <div>
                <a href="##" class="ui-linkbtn size-s"><i class="iconfont">&#xe62b;</i>切换家族</a>
            </div>
        </div>
        <ul class="publish-tab">
            <li class="publish-tab-item"><span>发布</span></li>
            <li class="publish-tab-item"><span>照片</span></li>
            <li class="publish-tab-item cur"><span>分类</span></li>
        </ul>
        

        <div class="photo-display">
            <div class="hd">智能分类</div>
            <div class="bd underline pb-0">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box classify">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=01" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=03" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=04" alt="">
                        </div>
                        <h3 class="list-item-title single-row">人物</h3>
                    </li>
                    <li class="list-item">
                        <div class="pic-box classify">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=01" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=03" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=04" alt="">
                        </div>
                        <h3 class="list-item-title single-row">事物</h3>
                    </li>
                    <li class="list-item">
                        <div class="pic-box classify">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=01" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=03" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=04" alt="">
                        </div>
                        <h3 class="list-item-title single-row">地点</h3>
                    </li>
                    <li class="list-item">
                        <div class="pic-box classify">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=01" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=03" alt="">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=04" alt="">
                        </div>
                        <h3 class="list-item-title single-row">动态</h3>
                    </li>
                </ul>
            </div>
        </div>

        <div class="photo-display">
            <div class="hd">分类相册</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                        </div>
                        <h3 class="list-item-title">故事</h3>
                        <p class="list-item-info">3张照片</p>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <div class="icon-video"></div>
                        </div>
                        <h3 class="list-item-title">视频</h3>
                        <p class="list-item-info">3个视频</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="photo-display">
            <div class="hd">智能分类</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                        </div>
                        <h3 class="list-item-title">故事</h3>
                        <p class="list-item-info">3张照片</p>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/75x75/d2b488/fff?text=02" alt="">
                            <div class="icon-video"></div>
                        </div>
                        <h3 class="list-item-title">视频</h3>
                        <p class="list-item-info">3个视频</p>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <div class="icon-add"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>