<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">新建相册</span>
            <div class="right"><span class="highlight">创建</span></div>
        </div>
        
        <div class="content-area">
            <div class="ui-input-box">
                <div class="ui-input-box underline"><input type="text" class="txt" value="张山"><i class="iconfont">&#xe605;</i></div>
            </div>
        </div>
            
    </div>
</body>

</html>