<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">6月10日 星期日 17:29</span>
            <div class="right"><i class="iconfont">&#xe63e;</i></div>
        </div>
        
        <div class="content-area">
            <div class="fullpage-video-box">
                <div class="icon-video"></div>
                <div class="msg-box">
                    <div class="msgbox-item">
                        <img src="https://via.placeholder.com/80x80/d2b488/fff?text=02" alt="">
                        <div class="info">
                            <h3>张夏</h3>
                            <p>这是在哪玩呀？</p>
                        </div>
                        <div class="bg"></div>
                    </div>
                    <div class="msgbox-item">
                        <img src="https://via.placeholder.com/80x80/d2b488/fff?text=02" alt="">
                        <div class="info">
                            <h3>张夏</h3>
                            <p>这是在哪玩呀？</p>
                        </div>
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="photo-footer">
            <li class="footer-item">
                <h3><i class="iconfont">&#xe626;</i></h3>
                <p>详情</p>
            </li>
            <li class="footer-item">
                <h3><i class="iconfont">&#xe658;</i></h3>
                <p>留言</p>
            </li>
            <li class="footer-item">
                <h3><i class="iconfont">&#xe611;</i></h3>
                <p>喜欢<span class="num">（99+）</span></p>
            </li>
            <li class="footer-item">
                <h3><i class="iconfont">&#xe620;</i></h3>
                <p>分享</p>
            </li>
        </ul>    
    </div>
</body>

</html>