<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">6月10日 星期日 17:29</span>
            <div class="right"><i class="iconfont">&#xe63e;</i></div>
        </div>
        
        <div class="content-area">
           <div class="album-detail-banner">
               
           </div>
           <div class="album-like-bar">
               <p class="left"><a href="##"><img src="../../asset/img/album-tu.png" alt=""></a><a href="##"><img src="../../asset/img/album-tu.png" alt=""></a><a href="##"><img src="../../asset/img/album-tu.png" alt=""></a><a href="##"><img src="../../asset/img/album-tu.png" alt=""></a><a href="##"><img src="../../asset/img/album-tu.png" alt=""></a></p>
               <div class="right"><i class="iconfont">&#xe611;</i> <span class="num">5</span></div>
           </div>
           <div class="gray-space"></div>
           <div class="leave-msg-box">
               <div class="hd">
                   留言（15条）
               </div>
               <ul class="list">
                   <li class="list-item">
                       <div class="left"><img src="../../asset/img/album-tu.png" alt=""><div class="cont"><h3>陈珂</h3><p>这是在哪玩呀？</p></div></div>
                       <div class="right"><span>昨天</span></div>
                   </li>
                   <li class="list-item">
                       <div class="left"><img src="../../asset/img/album-tu.png" alt=""><div class="cont"><h3>陈珂</h3><p>这是在哪玩呀？</p></div></div>
                       <div class="right"><span>昨天</span></div>
                   </li>
                   <li class="list-item">
                       <div class="left"><img src="../../asset/img/album-tu.png" alt=""><div class="cont"><h3>陈珂</h3><p>这是在哪玩呀？</p></div></div>
                       <div class="right"><span>昨天</span></div>
                   </li>
               </ul>
               <div class="more">加载更多</div>
           </div>
           <div class="gray-space"></div>
           <div class="photo-info-box">
               <div class="hd">照片信息</div>
               <div class="bd">
                   <p>拍摄时间：2018年6月7日 </p>
                   <p>照片尺寸：3024*4032</p>
                   <p>拍摄设备：iPhone6S Plus</p>
                   <p>拍摄地点：万江街道 工联</p>
               </div>
               
           </div>
           <div class="post-a-message-box">
                   <input type="text" class="input" placeholder="留下你的足迹再走吧～">
                   <a href="##" class="highlight btn">发布</a>
               </div>
        </div>
       
    </div>
</body>

</html> 