<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">6月10日 星期日 17:29</span>
            <div class="right"><i class="iconfont">&#xe63e;</i></div>
        </div>
        
        <div class="content-area">
            <ul class="album-person">
                  <li class="album-person-item">
                    <img src="https://via.placeholder.com/208x208/d2b488/fff?text=photo" alt="" class="album-person-pic">
                    <p class="album-person-name">唐宛如</p>
                  </li>
                  <li class="album-person-item">
                    <img src="https://via.placeholder.com/208x208/d2b488/fff?text=photo" alt="" class="album-person-pic">
                    <p class="album-person-name">唐宛如</p>
                  </li>
                  <li class="album-person-item">
                    <img src="https://via.placeholder.com/208x208/d2b488/fff?text=photo" alt="" class="album-person-pic">
                    <p class="album-person-name">唐宛如</p>
                  </li>
                  <li class="album-person-item">
                    <img src="https://via.placeholder.com/208x208/d2b488/fff?text=photo" alt="" class="album-person-pic">
                    <p class="album-person-name">唐宛如</p>
                  </li>
            </ul>
        </div>
       
    </div>
</body>

</html> 