<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">6月10日 星期日 17:29</span>
            <div class="right"><i class="iconfont">&#xe63e;</i></div>
        </div>
        
        <div class="content-area">
            <div class="person-detail-hd">
              <img src="https://via.placeholder.com/120x120/d2b488/fff?text=phot" alt="" class="pic" />
              <div class="info">
                <h3 class="name">奥莉</h3>
                <p class="detail">3张照片</p>
              </div>
            </div>
            <div class="photo-display">
            <div class="hd">今天</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="comment">
                                    <i class="iconfont">&#xe658;</i><em class="count">12</em>
                                </span>
                                <span class="favour">
                                    <i class="iconfont active">&#xe61a;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                            <p class="info-bar">
                                <span class="favour">
                                    <i class="iconfont">&#xe611;</i><em class="count">12</em>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        </div>
       
    </div>
</body>

</html> 