<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">张氏家族-人物 <i class="iconfont drop">&#xe60c;</i></span>
            <div class="right"><i class="iconfont">&#xe63e;</i></div>
        </div>
        
        <div class="content-area">
            <div class="photo-display">
            <div class="hd">今天</div>
            <div class="bd">
                <ul class="list">
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                        </div>
                        <div class="list-item-title">北京</div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="pic-box">
                            <img src="https://via.placeholder.com/208x208/d2b488/fff?text=pic" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
       
    </div>
</body>

</html> 