<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">幻灯片播放</span>
            <div class="right"><i class="iconfont">&#xe680;</i></div>
        </div>
        
        <div class="content-area">
            <!-- 幻灯片 -->
            <div class="change-light-box">
                <ul class="change-light-list">
                  <li class="change-light-item">
                      <img src="../../asset/img/huangdengpian.png" alt="">
                  </li>
                </ul>
                <div class="change-light-info">
                  <img src="../../asset/img/video.png" alt="">
                  <span>7月29日 北京市 健翔桥甲1</span>
                  <em class="mask"></em>
                </div>
            </div>
                

           <ul class="photo-footer huandengpian">
              <li class="footer-item">
                  <h3><i class="iconfont"></i></h3>
                  <p>详情</p>
              </li>
              <li class="footer-item">
                  <h3><i class="iconfont"></i></h3>
                  <p>留言</p>
              </li>
              <li class="footer-item">
                  <h3><i class="iconfont"></i></h3>
                  <p>喜欢<span class="num">（99+）</span></p>
              </li>
              <li class="footer-item">
                  <h3><i class="iconfont"></i></h3>
                  <p>分享</p>
              </li>
          </ul>
        </div>
       
    </div>
</body>

</html> 