<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>家语流芳</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../../asset/css/jylf/common-0827.css">
    <link rel="stylesheet" href="../../asset/css/jylf/common.css">
    <script type="text/javascript" src="../../asset/script/common.js"></script>
</head>

<body class="bg-white">
    <div class="container">
        <div class="head-area bg-white no-shadow">
            <a href="##" class="left iconfont">&#xe647;</a>
            <span class="center">选择音乐</span>
            <div class="right"><a href="##" class="highlight">确定</a></div>
        </div>
        
        <div class="content-area">
          <ul class="music-list">
            <li class="cur music-list-item"><span class="music-name">无</span> <i class="iconfont">&#xeeda;</i></li>
            <li class="music-list-item"><span class="music-name">欢乐时光</span> <i class="iconfont">&#xeeda;</i></li>
          </ul>
        </div>
       
    </div>
</body>

</html> 