<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
	<style>
		*{box-sizing: content-box;}
	</style>
</head>
<body class="bg-white">
	<div class="container">
		<div class="head-area bg-white">
			<a href="##" class="left iconfont">&#xe647;</a>
			<span class="center">相册</span>
			<div class="right"><i class="iconfont">&#xe62f;</i><i class="iconfont">&#xe620;</i></div>
		</div>
		<div class="publish-title">

			<h2>张氏家族</h2>
			<div>
				<a href="##" class="ui-linkbtn size-s"><i class="iconfont">&#xe62b;</i>切换家族</a>	
			</div>
		</div>
		<ul class="publish-tab">
			<li class="publish-tab-item cur"><span>发布</span></li>
			<li class="publish-tab-item"><span>照片</span></li>
			<li class="publish-tab-item"><span>分类</span></li>
		</ul>
		<div class="activity-display">
			<div class="hd cont-wrap">
				<div class="left"><img src="https://via.placeholder.com/80x80/d2b488/fff?text=photo" alt=""><span>张岩</span></div>
				<div class="right"><span>刚刚</span></div>
			</div>
			<div class="bd">
				<div class="display-list">
					<div class="rowspan-2-col-2">
						<div class="left">
							<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>	
						</div>
						
						<div class="right">
							<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
							<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
						</div>
					</div>
						<div class="row-1-col-3">
						<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
						<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
						<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
					</div>
					<div class="row-2-colspan-2">
						<div class="left">
		<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
		<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>
	</div>
	<div class="right">
		<div class="list-item"><img src="https://via.placeholder.com/672x440/d2b488/fff?text=photo" alt=""></div>	
	</div>

	
</div>
				</div>
			</div>
		</div>
		

	</div>	
</body>
</html>