@charset "utf-8";



/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: PingFangSC, "微软雅黑";
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    font-weight: 400;
    color:#333;
}

form,
input,
button,
option,
textarea,
select,
h3,
h4 {
    outline: none;
    font-family: PingFangSC, "微软雅黑";
    font-weight: 400;
    background: none;
    border: none;
}

img {
    border: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
    border: 0;
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

textarea {
    resize: none;
}

input,
select,
textarea {
    -webkit-appearance: none;
    vertical-align: middle;
    background: none;
}

li {
    list-style-type: none;
}

em,
i {
    font-style: normal;
}

h1,
h2,
h3 {}




/* LESS */

//变量 定义rem大小，并设置单位
@rem: 45rem;
@mainColor: #D3A460;

body {
    background: url(../../img/bg.png) no-repeat;
    background-size: cover;
}



/* =S tool style 
==================================*/
.ta-c{text-align: center;}
.highlight {
    color: @mainColor;
}

.ui-linktext {
    text-decoration: underline!important;
    color: @mainColor;
}

.ui-linkbtn {
    display: block;
    border-radius: 44/@rem;
    background-color: @mainColor;
    background: -webkit-linear-gradient(left, #E0B372, #D3A460);
    /* 标准的语法 */
    font-size: 30/@rem;
    color: #fff;
    line-height: 88/@rem;
    text-align: center;
}

.ui-linkbtn-2 {
    display: inline-block;
    padding: 19/@rem 32/@rem;
    border-radius: 32/@rem;
    color: #D3A460;
    border: 1/@rem solid #D3A460;
}

.ui-dl {
	position: relative;

    .dt {
        font-size: 30/@rem;
    }
    .dd {
        input {
            line-height: 30/@rem;
            font-size: 30/@rem;
            width: 90%;
            border: 0;
            color: #999;
            &:focus {
                color: #4A4A4A;
            }
        }
        .icon{position: absolute;right: 0;}

    }
}

@fontpath:'../../font';
@font-face {
    font-family: 'iconfont';
    /* project id 797836 */
    src: url('@{fontpath}/iconfont.eot');
    src: url('@{fontpath}/iconfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontpath}/iconfont.woff') format('woff'),
    url('@{fontpath}/iconfont.ttf') format('truetype'),
    url('@{fontpath}/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}




/* =S UI Component style 
==================================*/

.container {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    font-size: 30/@rem; // background: url(../../img/bg.png) no-repeat;
    // background-size: cover;
}

.head-area {
    text-align: center;
    height: 68/@rem;
    font-size: 36/@rem;
    .left {
        position: absolute;
        left: 0;
        width: 68/@rem;
        font-size: 38/@rem;
        text-align: center;
        line-height: 68/@rem; // background: url(../../img/back.png) no-repeat center;
    }
    .right{
    	position: absolute;
    	right: 24/@rem;
    }
}

.content-area {}

.foot-area {}

.ui-article {
    p {
        text-indent: 60/@rem;
    }
}


/* =S content style 
==================================*/

// 登陆
#login {
    .title-area {
        padding-top: 66/@rem;

        .upload-box {
        	margin-bottom: 49/@rem;
        	text-align: center;
            .iconfont {
                font-size: 222/@rem;
            }
            p {
                color: #333333;
                text-align: center;
            }
        }
        .man-or-woman {
            button {
                width: 260/@rem;
                padding: 21/@rem 0;
                font-size: 30/@rem;
                border-radius:40/@rem;
                background: #ccc;
               .iconfont{color: @mainColor;font-size: 38/@rem;}

                &.cur{
                	background: #FFF2DF;
                }
            }
        }
    }
    .content-area {
        padding: 0 11%;
        h2 {
            text-align: center;
            font-size: 64/@rem;
            font-family: PingFang-SC-Bold;
            color: @mainColor;
            font-weight: 500;
            margin-top: 211px;
            padding-bottom: 70px;
        }
        .link-btn {}

        .other-login {
            padding-top: 210/@rem;
            h3 {
                color: #999;
                text-align: center;
                font-size: 30/@rem;
                margin-bottom: 60/@rem;
            }
            p {
                text-align: center;
                a {
                    display: inline-block;
                    width: 86/@rem;
                    height: 86/@rem;
                    background: url(../../img/wechat.png) no-repeat;
                    background-size: auto 100%;
                }
            }
        }
    }
	//完成注册
    .complete-registration{
    	.cr-text{
    		color: #4A4A4A;
			.iconfont{font-size: 98/@rem;color: #60D370;}
			h3{font-size: 48/@rem;}
			h4{font-size:36/@rem;}
			p{color: #666;}
			.mb{margin-bottom: 147/@rem;}
			.mb2{margin-bottom: 201/@rem;margin-top: 29/@rem;}
    	}
    	.tip{margin-bottom: 20/@rem;}
    	.ui-linkbtn{margin-bottom: 28/@rem;}
    }

    .foot-area {
        position: absolute;
        bottom: 55px;
        width: 100%;
        text-align: center;
        font-size: 28/@rem;
    }

    .tab {
        padding-top: 50/@rem;
        display: flex;

        a {
            flex: 1;
            text-align: center;
            color: #999;
            font-size: 48/@rem;
            &.cur {
                color: @mainColor;
            }
        }
    }

    .input-area {
        margin-top: 130/@rem;
        padding-bottom: 79/@rem;
        font-size: 30/@rem;
        .iconfont {
            font-size: 32/@rem;
        }

        .ui-dl {
            margin-top: 101/@rem;
            .dd {
                margin-top: 60/@rem;
            }
        }

        .password {

            .dd {
                position: relative;
            }
            input {
                padding-right: 32/@rem;
            }
            .icon {
                position: absolute;
                right: 0;
            }
        }

        .auth-code {
            input {
                margin-right: 102/@rem;
                width: 238/@rem;
            }
        }

        .ui-linktext {
            margin-top: 50/@rem;
            display: block;
        }
		//完善信息
        &.complete-info{
        	input{font-size: 24/@rem;color: #999;
				&:focus{color: #333;}
        	}
        }
    }
}