@charset "utf-8";
//导入iconfont样式
@import "./variate";
// 公用样式
@import "./widget";


/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: PingFangSC, "微软雅黑";
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    font-weight: 400;
    color: #4A4A4A;
}

form,
input,
button,
option,
textarea,
select,
h3,
h4 {
    outline: none;
    font-family: PingFangSC, "微软雅黑";
    font-weight: 400;
    background: none;
    border: none;
}

img {
    border: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
    border: 0;
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

textarea {
    resize: none;
}

input,
select,
textarea {
    -webkit-appearance: none;
    vertical-align: middle;
    background: none;
}

li {
    list-style-type: none;
}

em,
i {
    font-style: normal;
}

h1,
h2,
h3 {
    font-size: 30/@rem;
    font-weight: normal;
}






body,
html {
    height: 100%;
}
body {
    background: #F1F3F4;
}


:-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}



/* =S tool style 
==================================*/

.bg-white {
    background: #fff!important;
}

.m-lr {
    margin: 0 23/@rem;
}

.p-lr {
    padding: 0 23/@rem;
}

.bgPic {
    background: url(../../img/bg.png) repeat-y;
    background-size: cover;
}

.bgPic-2 {
    background: url(../../img/bg-2.png) no-repeat #F1F3F4;
    background-size: contain;
}

.bg-pic-page {}

.mg-s {
    border-bottom: 10/@rem solid #F1F3F4;
}

.ta-c {
    text-align: center;
}

.p-r {
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.highlight {
    color: @mainColor;
}

.ui-linktext {
    text-decoration: underline!important;
    color: @mainColor;
}

.ui-tag {
    padding: 13/@rem 16/@rem;
    font-size: 24/@rem;
    color: #fff;
    background: #EAEAEA;
    border-radius: 23/@rem;
}

.ui-tag2,
.ui-tag-2 {
    font-size: 24/@rem;
    display: inline-block;
    padding: 0 15/@rem;
    border-radius: 20/@rem;
    background: rgba(211, 164, 96, 0.2);
    color: @mainColor;
}

.ui-linkbtn {
    display: block;
    border-radius: 44/@rem;
    background-color: @mainColor;
        /* background: linear-gradient(to right, #E0B372 0%, #D3A460 100%); */
    background: -moz-linear-gradient(left, #E0B372 0%, #D3A460 100%);
    /* background: -webkit-linear-gradient(left, #E0B372 0%, #D3A460 100%); */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #E0B372), color-stop(100%, #D3A460));
    /* 标准的语法 */
    font-size: 18px;
    color: #fff; // line-height: 44px;
    padding: 15/@rem 0;
    text-align: center;

    &.flud {
        width: 77.777%;
        margin: 0 auto;
    }
    &.bottom {
        margin-top: 96/@rem;
    }
    &.size-s {
        display: inline-block;
        line-height: 23/@rem;
        padding: 12/@rem 22/@rem;
        font-size: 24/@rem;
        border-radius: 24/@rem!important;
    }
    &.simple {
        display: inline-block;
        border-radius: 25/@rem;
        color: @mainColor;
        border: 1/@rem solid @mainColor;
        font-size: 24/@rem;
        line-height: 48/@rem;
        padding: 0 24/@rem;
        background: none;
    }
}

.ui-linkbtn-3 {
    display: inline-block;
    border-radius: 10/@rem;
    padding: 11/@rem 14/@rem;
    background: -webkit-linear-gradient(left, #E0B372, #D3A460);
    color: #fff;
}


.ui-linkbtn-2 {
    display: inline-block;
    padding: 0 29/@rem;
    line-height: 68/@rem;
    border-radius: 34/@rem;
    color: #D3A460;
    border: 1px solid #D3A460;
}

.ui-dl {
    position: relative;

    .dt {
        font-size: 30/@rem;
    }
    .dd {
        input {
            line-height: 30/@rem;
            font-size: 30/@rem;
            width: 90%;
            border: 0;
            color: #999;
            &:focus {
                color: #4A4A4A;
            }
        }
        .icon {
            position: absolute;
            right: 0;
        }
    }
}


// @fontpath: '../../font';
// @font-face {
//     font-family: 'iconfont';
//     /* project id 797836 */
//     src: url('@{fontpath}/iconfont.eot');
//     src: url('@{fontpath}/iconfont.eot?#iefix') format('embedded-opentype'),
//     url('@{fontpath}/iconfont.woff') format('woff'),
//     url('@{fontpath}/iconfont.ttf') format('truetype'),
//     url('@{fontpath}/iconfont.svg#iconfont') format('svg');
// }
// @font-face {
//     font-family: 'iconfont';
//     /* project id 797836 */
//     src: url('//at.alicdn.com/t/font_797836_luesa8qwjzp.eot');
//     src: url('//at.alicdn.com/t/font_797836_luesa8qwjzp.eot?#iefix') format('embedded-opentype'),
//     url('//at.alicdn.com/t/font_797836_luesa8qwjzp.woff') format('woff'),
//     url('//at.alicdn.com/t/font_797836_luesa8qwjzp.ttf') format('truetype'),
//     url('//at.alicdn.com/t/font_797836_luesa8qwjzp.svg#iconfont') format('svg');
// }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* =S UI Component style 
==================================*/

.container {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 53px;
    font-size: 30/@rem;
    position: relative;
}
.footer-area{height: 53px;position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;

}
.ui-input {
    color: #999;
    &:focus {
        color: #4A4A4A;
    }
}

.ui-textarea {
    color: #999;
    .inner {
        position: relative;
    }

    &:focus {
        color: #4A4A4A;
    }
    textarea {
        font-size: 30/@rem;
        width: 100%;
        margin-bottom: 60/@rem;
    }
    .t-info {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 60/@rem;
    }
}

.ui-input-box {
    position: relative;
    margin: 0 24/@rem;
    padding-right: 60/@rem;
    line-height: 130/@rem;
    color: #999;

    &:focus {
        color: #4A4A4A;
    }

    .txt {
        width: 100%;
        line-height: 130/@rem;
    }
    .iconfont {
        position: absolute;
        right: 0;
    }
}

.ui-tip {
    padding: 28/@rem 23/@rem;
    color: #999;
    background: #f1f3f4;
}

.ui-coming-soon {
    text-align: center;
    .iconfont {
        font-size: 54/@rem;
        margin-bottom: 19/@rem;
        color: #DEDEDE;
    }
    .cs-txt {
        font-size: 28/@rem;
        color: #999l
    }
}

.search-wrap {
    padding: 10/@rem 24/@rem;

    &.focus {
        .ui-search {
            text-align: left;
            width: 590/@rem;
            .txt {
                padding-left: 63/@rem;
                font-size: 30/@rem;
            }
            .placeholder {
                em {
                    display: none;
                }
                padding-left: 33/@rem;
            }
        }

        .search-cancel {
            display: inline-block;
        }
    }
}

.ui-search {
    height: 60/@rem;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    .txt {
        position: absolute;
        left: 0;
        z-index: 0;
        line-height: 60/@rem;
        width: 100%;
        border-radius: 30/@rem;
        background: #fff;
        padding: 0 25/@rem;
    }

    .placeholder {
        position: relative;
        z-index: 1;
        line-height: 60/@rem;
        color: #999;
        i {
            font-size: 32/@rem;
        }
        em {
            font-size: 28/@rem;
        }
    }
}

.head-area {
    position: relative;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 15px;
    .left {
        float: left;
        margin-left: 3px;// background: url(../../img/back.png) no-repeat center;
    }
    .center {
        font-size: 36/@rem;
        font-weight: 700;
        width: 60%;
        margin: 0 auto;
        line-height: 18px;
        height: 18px;
        display: block;
        text-align: center;
    }
    .right {
        position: absolute;
        right: 24/@rem;
        top: 80/@rem;
        width: 68/@rem;
        font-size: @fs-default;
        .iconfont {
            font-size: @fs-m;
        }
    }
}

.foot-area {
    height: 53px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.ui-article {
    padding: 30/@rem 23/@rem 0;
    p {
        text-indent: 60/@rem;
        line-height: 40/@rem;
    }
    .img-box {
        padding: 29/@rem 0;
        img {
            width: 100%;
        }
    }
}

.ui-list {
    .l-item {
        position: relative;
        border: 2/@rem solid #F1F3F4;
        padding: 26/@rem 24/@rem;
        overflow: hidden;
        .title {
            margin-bottom: 19/@rem;
            font-size: 30/@rem;
        }
        .cont {
            color: #999;
            font-size: 24/@rem;
        }
        .ui-linkbtn {
            border-radius: 10/@rem;
            display: inline-block;
            padding: 11px 14/@rem;
            line-height: 24px;
            position: absolute;
            top: 43/@rem;
            right: 24/@rem;
            font-size: 26/@rem;


            &.disabled {
                background: #DEDEDE;
            }
        } // 左右结构
        .left,
        .right {
            float: left;
        }
        .left {
            width: 80/@rem;
            height: 80/@rem;
            line-height: 80/@rem;
            text-align: center;
            margin-right: 19/@rem;
            .firstname {
                border-radius: 100%;
                width: 100%;
                display: block;
                background: #F3B966;
                color: #fff;
                float: left;
            }
        }
        .right {
            .highlight {
                font-size: 28/@rem;
            }
        }
    } // 三列布局
    &.col-3 {
        display: flex;
        flex-wrap: wrap;

        .list-item {
            // float: left;
            maring: 0 24/@rem 24/@rem 0;
            background: #F1F3F4;
            width: calc(100%/3);
            &:before {
                padding-top: 100%;
            }
        }
    }
}

.ui-pictxt-box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10/@rem;
}

.ui-arrow-list {
    padding: 0 20/@rem;
    .al-item {
        position: relative; // padding: 40/@rem 0;
        height: 110/@rem;
        line-height: 110/@rem;
        border-bottom: 2/@rem solid #EDEDED;

        .left {
            span {
                line-height: 29/@rem;
                color: #4A4A4A;
            }
        }

        .right {
            position: absolute;
            right: 0;
            top: 0;
            line-height: 29/@rem;
            .iconfont {
                line-height: 110/@rem;
                font-size: 29/@rem;
            }
        }
    }
}

.home-display {
    margin-bottom: 53/@rem;
    .display-hd {
        overflow: hidden;
        color: #4A4A4A;
        padding: 29/@rem 0 30/@rem 0;

        .left {
            float: left;
        }
        .display-hd-title {
            font-size: 36/@rem;
            font-weight: 700;
            height: 38/@rem;
            line-height: 38/@rem;
        }

        .right {
            float: right;
            font-size: 30/@rem;
            vertical-align: bottom;
            .iconfont {
                font-size: 24/@rem;
            }
        }
    }
    .display-bd {
        .ui-list {
            .list-item {
                border-width: 0 18/@rem 20/@rem 0;
                border: solid #fff;
            } // 三列布局
            &.col-3 {
                display: flex;
                flex-wrap: wrap;
                padding: 0 24/@rem;
                .list-item {
                    border-radius: 10/@rem;
                    background: #F1F3F4;
                    width: calc(100%/3);
                    &:before {
                        padding-top: 100%;
                    }


                    .inner {
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 82/@rem;
                            width: 82/@rem;
                            display: block;
                        }
                        .jy{margin-bottom: 18/@rem;}
                        .sgz{margin-bottom: 19/@rem;}
                        .jr{margin-bottom: 18/@rem;}
                        .jzxc{width: 100/@rem;height: 100/@rem;margin-bottom: 10/@rem;}
                        .jj{width: 108/@rem;height: 108/@rem;margin-bottom: 9/@rem;}
                        .bysx{width: 90/@rem;height: 90/@rem;margin: 0 auto 15/@rem;}
                        &.cur{
                            p{
                                color: #4A4A4A;
                                font-weight: 700;
                            }
                            
                        }
                        p {
                            font-size: 15px;
                            color:#ccc;
                        }
                    }
                }
            }
        }
    }
}



/* =E UI Component style 
==================================*/

.ui-input-list {}




/* =S content style 
==================================*/

// 登陆
#login {
    background-size: cover;
    .title-area {
        padding-top: 66/@rem;

        .upload-box {
            margin-bottom: 49/@rem;
            text-align: center;
            .iconfont {
                font-size: 222/@rem;
            }
            p {
                margin-top: 29/@rem;
                color: #333333;
                text-align: center;
            }
        }
        .man-or-woman {
            text-align: center;
                font-size: 0;
            button {
                &:nth-child(1){
                    margin-right: 20/@rem;
                }
                width: 260/@rem;
                padding: 21/@rem 0;
                font-size: 30/@rem;
                border-radius: 40/@rem;
                background: #ccc;
                .iconfont {
                    color: @mainColor;
                    font-size: 38/@rem;
                }

                &.cur {
                    background: #FFF2DF;
                }
            }
        }
    }
    .content-area {
        padding: 0 11%;
        h2 {
            text-align: center;
            font-size: 60/@rem;
            font-family: PingFang-SC-Bold;
            color: @mainColor;
            margin-top: 144/@rem;
            margin-bottom: 110/@rem;
            height:56/@rem;
            font-family:PingFang-SC-Bold;
            font-weight:bold;
            line-height:48/@rem;
        }
        .ui-linkbtn {
            margin-bottom: 210/@rem;
            font-size: 36/@rem;
            background: linear-gradient(-45deg,rgba(224,179,114,1) 0%,rgba(211,164,96,1) 100%);
        }

        .other-login {
            
            h3 {
                color: #999;
                text-align: center;
                font-size: 30/@rem;
                margin-bottom: 59/@rem;
                
            }
            p {
                margin-bottom: 296/@rem;
                text-align: center;
                a {
                    display: inline-block;
                    width: 88/@rem;
                    height: 88/@rem;
                    background: url(../../img/wechat.png) no-repeat;
                    background-size: auto 100%;
                }
            }
        }
    } //完成注册
    .complete-registration {
        .cr-text {
            color: #4A4A4A;
            .iconfont {
                font-size: 98/@rem;
                color: #60D370;
            }
            h3,h4,h5{font-weight: 700;}
            h3 {
                font-size: 48/@rem;
                height: 45/@rem;
                line-height: 48/@rem;
                margin-bottom: 29/@rem;
            }
            h4 {
                font-size: 36/@rem;
                height: 35/@rem;
                line-height: 48/@rem;
                margin-bottom: 149/@rem;
            }
            h5{font-size: 36/@rem;line-height: 48/@rem;margin-bottom: 29/@rem;}
            .icon-complete{
                margin: 34/@rem 0 40/@rem 0;
            }
            p {
                color: #666;
                line-height: 36/@rem;
                margin-bottom: 199/@rem;
            }
            .mb {
                margin-bottom: 147/@rem;
            }
            .mb2 {
                margin-bottom: 201/@rem;
                margin-top: 29/@rem;
            }
        }
        .tip {
            margin-bottom: 20/@rem;
        }
        .ui-linkbtn {
            margin-bottom: 28/@rem;
        }
    }
    .head-area {
        box-shadow: none;
    }
    
    .no-account {
        margin-bottom: 55/@rem;
        text-align: center;
        font-size: @fs-default;
        line-height: 48/@rem;
        height: 29/@rem;
        color: #999;
    }

    .tab {
        padding-top: 25px;
        // display: flex;
        justify-content:center;
        font-weight: 700;

        a {
            // padding: 0 30/@rem;
            &:nth-child(1){
                padding-right: 60/@rem;
            }

            text-align: center;
            color: #999;
            font-size: 48/@rem;
            &.cur {
                color: @mainColor;
            }
        }
    }

    .input-area {
        margin-top: 65px;
        padding-bottom: 40px;
        font-size: 30/@rem;
        .iconfont {
            font-size: 36/@rem;
        }

        .ui-dl {
            margin-top: 50px;
            .dt{
                .iconfont{margin-right: 16/@rem;vertical-align: bottom;}
            }
            .dd {
                margin-top: 30px;
                padding-bottom: 19/@rem;
                // border-bottom: 1px solid #EDEDED;
                background: url(../../img/line-1px.png) repeat-x 0 bottom;
                display: flex;

                input{flex:1;}
            }
        }

        .password {

            .dd {
                position: relative;
                .icon {
                    position: absolute;
                    right: 0;
                }
            }
            input {
                padding-right: 32/@rem;
            }
            
        }

        .auth-code {
            input {
                margin-right: 102/@rem;
                width: 238/@rem;
            }
        }

        .ui-linktext {
            margin-top: 25px;
            display: block;
        } //完善信息
        &.complete-info {
            input {
                font-size: 24/@rem;
                color: #999;
                &:focus {
                    color: #333;
                }
            }
        }
    }
}

//  =S 消息
.ui-tab {
    box-shadow: 0 10/@rem 10/@rem #FAF9F8;
    background: #fff;
    padding-top: 43/@rem;
    padding-bottom: 43/@rem;
    margin-bottom: 10/@rem;
    display: flex;

    .t-item {
        flex: 1;
        font-size: 36/@rem;
        text-align: center;
        &.cur {
            color: @mainColor;

            span {
                position: relative;
                margin-top: 31/@rem;
                padding-bottom: 31/@rem;
                word-break: keep-all;

                sub {
                    position: absolute;

                    border-radius: 8/@rem;
                    background: #E30920;
                    width: 16/@rem;
                    height: 16/@rem;
                }
                em {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -40/@rem;
                    width: 80/@rem;
                    height: 4/@rem;
                    background: @mainColor;
                }
            }
        }
    }
}

.msg-list {
    background: #fff;
}

.msg-item {
    position: relative;
    padding:27/@rem 24/@rem 15/@rem;
    overflow: hidden;
    img {
        border-radius: 100%;
        width: 80/@rem;
        height: 80/@rem;
        float: left;
        vertical-align:middle;
        margin-right: 20/@rem;
    }
    .detail {
        float: left;
        color: #999;
        h4 {
            color: #4A4A4A;
            margin-bottom: 19/@rem;
            font-weight: 700;
        }
        .mark {
            font-size: 24/@rem;
            display: inline-block;
            border-radius: 20/@rem;
            background: rgba(211, 164, 96, 0.2);
            color: @mainColor;
            width:126/@rem;
            height:40/@rem;
            line-height: 40/@rem;
            text-align: center;
        }
    }
    .tip {
        position: absolute;
        top: 35/@rem;
        right: 24/@rem;
        font-size: 24/@rem;
    }
}

.ui-operation-foot {
    
    width: 100%;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 8/@rem 0;
    font-size: @fs-s;
    li {
        flex: 1;
        text-align: center;
    }
    p{font-size: 22/@rem;line-height: 38/@rem;}
    li.cur {
        .jia {
            background-image: url(../../img/jia-2.png);
        }
        .yu {
            background-image: url(../../img/yu-2.png);
        }
        .liu {
            background-image: url(../../img/liu-2.png);
        }
        .fang {
            background-image: url(../../img/fang-2.png);
        }
    }

    .pic {

        width: 24px;
        height: 24px;
        margin: 0 auto;
        background: url(../../img/jia.png) no-repeat;
        background-size: contain;
    }
    .jia {
        background-image: url(../../img/jia.png);
        background-size: 24px 24px;
    }
    .yu {
        background-image: url(../../img/yu.png);
        background-size: 24px 24px;
    }
    .liu {
        background-image: url(../../img/liu.png);
        background-size: 24px 24px;
    }
    .fang {
        background-image: url(../../img/fang.png);
        background-size: 24px 24px;
    }

    .publish {
        i {
            font-size: 24px;
        }
        background: #fff;
        color: @mainColor;
        >div {
            border-radius: 100%;
            background: #fff;
            display: inline-block;
            width: 94/@rem;
            height: 95/@rem;
            background: url(../../img/foot-add.png) no-repeat;
            background-size:100%;
            position: relative;
            top: -36/@rem;
            line-height: 80/@rem;
        }
    }
}

//系统消息
.system {
    .ta-c {
        padding: 30/@rem 0;
    } // .ui-bgbtn{maring:30/@rem 0;}
}

// 生日祝福
#birthday-blessing {
    .ui-linkbtn {
        margin: 0 60/@rem;
        margin-bottom: 39/@rem;
    }
}

.birthday-card {
    h4 {
        padding: 8/@rem 0 30/@rem 0;
        color: #F14D4E;
        font-size: 36/@rem;
    }
    .pic-box {
        padding: 0 24/@rem;
        margin-bottom: 60/@rem;
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
}

.family-id {
    text-align: center;
    color: #fff;
    h2 {
        font-size: 24px;
        margin-bottom: 27/@rem;
    }
}

.family-operation-list {
    display: flex;
    border-radius: 23/@rem;
    background: #fff;
    width: 660/@rem; // height: 184/@rem;
    margin-top: 29px;
    padding: 24px 0;
    margin: 57/@rem auto 18/@rem;
    li {
        flex: 1;
        color: #4A4A4A;
        text-align: center;
    }
    p {
        line-height: 24px;
        font-size: @fs-default;
    }
    .iconfont {
        font-size: 22px;
    }
}

.ui-title {
    font-size: 36/@rem;
    color: #4A4A4A;
    position: relative;
    width: 160/@rem;
    height: 41/@rem;
    margin: 0 auto;
    text-align: center;
    em {
        width: 100%;
        height: 20/@rem;
        position: absolute;
        background: #ccc;
        bottom: 0;
        border-radius: 0 20/@rem 0 20/@rem;
    }
}

.cont-family {

    .f-title {
        margin-bottom: 50/@rem;
        background: #fff;

        p {
            color: #4A4A4A;
            position: relative;
            width: 80px;
            margin: 0 auto;
            text-align: center;
        }

        span {
            font-size: @fs-m;
            font-weight: 700;
            position: relative;
            z-index: 2; // font-size: 36/@rem;
        }
        em {
            width: 100%;
            height: 10px;
            position: absolute;
            background: #EBEBEB;
            bottom: 0;
            border-radius: 0 20/@rem 0 20/@rem;
            left: 0;
        }
    }
    .f-list {
        background: #fff;
    }
    .fl-item {

        position: relative;
        margin: 0 23/@rem;
        .line {
            height: 2/@rem;
            background: #EDEDED;
            // width: 567/@rem;
            margin-bottom: 49/@rem;
        }

        .hd {
            display: flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom: 20/@rem;
            .left {
                font-size: @fs-default;
                font-weight: 700;
                    display: flex;
                align-items: center;

                img {
                    vertical-align: middle;
                    width: 90/@rem;
                    height: 90/@rem;
                    border-radius: 100%;
                    margin-right: 24/@rem;

                }
            }
            .right {
                span {
                    color: #999999;
                    font-size: @fs-s;
                }
            }
        }

        .bd {
            padding-bottom: 6/@rem;
            width: 100%;
            overflow: hidden;
            .pic-list {
                // width: 720/@rem;
                // padding: 0 0 0 24/@rem;
                overflow: hidden;
                display: flex;
                flex-wrap:wrap;
                justify-content:space-between;
                li {
                    float: left;
                    position: relative; // margin-right: 12/@rem;
                    // margin: 0 12/@rem 12/@rem 0;
                    width: 30.95238095238095%; // height: 204/@rem;
                    display: flex;
                    /*设置为flex布局*/
                    justify-content: center;
                    /*水平居中*/
                    align-items: center;
                    margin-bottom: 23/@rem;
                    /*垂直居中*/

                    &:before{
                        content:'';
                        padding-top: 100%;
                        display: block;
                    }
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10/@rem;
                    }
                    .more {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        text-align: center;

                        em {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: #000;
                            opacity: 0.3;
                        }
                        span {

                            display: block;
                            transform: translateY(-50%);
                            position: relative;
                            top: 48%;
                            z-index: 2;
                            font-size: 60/@rem;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .f-ft {
        margin: 0 23/@rem 50/@rem;
        line-height: 48/@rem;
        font-size: @fs-default;
    }
}

.cont-apply {
    line-height: 87/@rem;
    color: #fff;
    text-align: center;
    background: @mainColor;
}

.ui-onOffBtn {
    position: relative;
    label {
        display: block;
        width: 62/@rem;
        height: 36/@rem;
        background: #ccc;
        border-radius: 20/@rem;
        cursor: pointer;
        position: relative;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }


    input:checked+label {
        background: #34bf49;
    }
    input:checked+label:after {
        left: 32/@rem;
    }
    input:checked+label:active:after {
        left: .5rem;
    }
    input:disabled+label {
        background: #d5d5d5;
        pointer-events: none;
    }

    input:disabled+label:after {
        background: #bcbdbc;
    }

    label:after {
        content: '';
        display: block;
        width: 30/@rem;
        height: 30/@rem;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        position: absolute;
        left: .05rem;
        top: .05rem;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
}


.cont-page-banner {
    height: 404/@rem;
    background: url(../../img/home-header.png) no-repeat;
    background-size: cover;
}

.cont-wrap {
    margin: 0 24/@rem;
}

.cont-wrap-p {
    padding: 0 24/@rem;
}

.blank {
    height: 294/@rem;
}

.cont-personal-info {
    margin-bottom: 9/@rem;
    .img-wrap {
        position: relative;
        top: -50/@rem;
        border-radius: 100%;
        img {
            width: 100/@rem;
            height: 100/@rem;
        }
    }
    .name {
        color: #4A4A4A;
        font-size: 34/@rem;
        line-height: 34/@rem;
        margin-bottom: 21/@rem;
        .icon {
            vertical-align: top;
            display: inline-block;
            width: 32/@rem;
            height: 32/@rem;
            background: url(../../img/man.png) no-repeat;
            background-size: cover;
            &.man {
                background: url('../../img/man.png') no-repeat;
            }
            &.woman {
                background: url(../../img/woman.png) no-repeat;
            }
        }
    }
    .birthday {
        color: #4A4A4A;
        margin-bottom: 17/@rem;
        line-height: 24/@rem;
        .icon {
            display: inline-block;
            width: 26/@rem;
            height: 26/@rem;
            background: url('../../img/cake.png') no-repeat;
        }
    }
    .speech {
        color: #999;
        line-height: 25/@rem;
        padding-bottom: 48/@rem;
    }
}

.publish-tab {
    overflow: hidden;
    width: 516/@rem;
    margin: 0 auto 51/@rem;
    display: flex;

    .publish-tab-item {
        flex: 0.333;
        text-align: center;
        line-height: 92/@rem;
        width: 102/@rem;
        color: #4A4A4A;
        &.cur {
            border-bottom: 4/@rem solid #DEB06E;
            color: #D3A460;
            font-size: 48/@rem;
        }
    }
}

.publish-title {
    height: 280/@rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-size: 60/@rem;
        line-height: 57/@rem;
        margin-bottom: 15/@rem;
    }
    a {
        display: block;
    }
    text-align: center;
    color: #4A4A4A;


    text-align: center;
}

.activity-display {
    .hd {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30/@rem;
        .left {
            img {
                width: 90/@rem;
                height: 90/@rem;
                border-radius: 100%;
                vertical-align: middle;
                margin-right: 17/@rem;
            }
        }
        .right {
            span {
                color: #999;
            }
        }
    }
    .bd {
        // overflow: hidden;
        width: 100%;
        .list-item,
        li {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10/@rem;
            }
        }
    }
    .display-list {
        clear: float;

        .left {
            float: left;
        }
        .right {
            float: left;
        }
    }
    .type-1 {
        padding: 0 24/@rem;
        li {
            height: 440/@rem;
        }
    }
    .type-2 {
        padding-left: 24/@rem;
        .list-item {
            float: left;
            width: 324/@rem;
            height: 324/@rem;
            margin-right: 24/@rem;
            &:nth-child(1) {
                margin-right: 24/@rem;
            }
        }
    }

    .type-3 {
        overflow: hidden;
        padding-left: 24/@rem;
        .left,
        .right {
            float: left;
        }
        .right {
            width: 208/@rem;
        }
        .left {
            .list-item {
                margin: 0 24/@rem 24/@rem 0;
                width: 440/@rem;
                height: 440/@rem;
            }
        }
        .right {
            .list-item {
                width: 208/@rem;
                height: 208/@rem;
                margin: 0 0 24/@rem 24/@rem;
            }
        }
    }

    .row-1-col-2 {
        padding-left: 24/@rem;
        .list-item {
            float: left;
            width: 324/@rem;
            height: 324/@rem;
            margin-right: 24/@rem;
            &:nth-child(1) {
                margin-right: 24/@rem;
            }
        }
    } // .type-4
    .rowspan-2-col-2 {
        overflow: hidden;
        padding-left: 24/@rem;
        .left,
        .right {
            float: left;
        }
        .right {
            width: 208/@rem;
        }
        .left {
            .list-item {
                margin: 0 0 24/@rem 0;
                width: 440/@rem;
                height: 440/@rem;
            }
        }
        .right {
            .list-item {
                width: 208/@rem;
                height: 208/@rem;
                margin: 0 0 24/@rem 24/@rem;
            }
        }
    }
    .row-2-colspan-2 {
        overflow: hidden;
        padding-left: 24/@rem;
        .left,
        .right {
            float: left;
        }
        .left {
            .list-item {
                width: 208/@rem;
                height: 208/@rem;
                margin: 0 24/@rem 24/@rem 0;
            }
        }
        .right {
            .list-item {
                width: 440/@rem;
                height: 440/@rem;
            }
        }
    }
    .row-1-col-1 {

        .list-item {
            width: 672/@rem;
            height: 440/@rem;
            padding: 0 24/@rem;
        }
    }
    .row-1-col-3 {
        overflow: hidden;
        padding-left: 24/@rem;
        .list-item {
            float: left;
            width: 208/@rem;
            height: 208/@rem;
            padding-right: 24/@rem;
            padding-bottom: 24/@rem;
        }
    }
}

.ui-imgbox {
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        content: '';
        display: block;
        margin-top: 100%; //margin 百分比相对父元素宽度计算
    }
}

.photo-operation-bar {
    overflow: hidden;
    padding: 0 24/@rem 10/@rem 24/@rem;
    border-bottom: 1/@rem solid #EDEDED;
    .left {
        float: left;
    }
    .right {
        float: right;
        .ui-linkbtn {
            padding: 0 15px;
        }
    }
}



// 视频详情
.msg-box {
    position: absolute;
    bottom: 61/@rem;
    left: 0;
    overflow: hidden;
    .msgbox-item {
        float: left;
        margin-right: 16/@rem;
        border-radius: 55/@rem;
        padding: 10px 20/@rem;
        position: relative; // filter: blur(5px);
        background: rgba(0, 0, 0, 0.3); // .bg{border-radius:55/@rem;filter: blur(5px);width:100%;height: 100%;position: absolute;left: 0;top: 0; } 
        img {
            width: 80/@rem;
            height: 80/@rem;
            border-radius: 50%;
            float: left;
        }
        .info {
            float: left;
            margin-left: 11/@rem;
            h3 {
                color: #ccc;
                font-size: 24/@rem;
            }
            p {
                color: #fff;
                font-size: 30/@rem;
            }
        }
    }
}

.fullpage-video-box {
    position: relative;
    height: 594px;
    width: 100%;
    .pic-box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }


    .icon-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../../img/video.png) no-repeat center center rgba(0, 0, 0, 0.2);
        background-size: 160/@rem 160/@rem;
    }
}

.photo-footer {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 14/@rem 0;
    .footer-item {
        flex: 1;
        text-align: center;
        color: #fff;
        .iconfont {
            font-size: 38/@rem;
        }
        h3 {
            margin-bottom: 8/@rem;
        }
        p {
            font-size: 24/@rem;
        }
    }
}

.no-shadow {
    box-shadow: none;
}

.album-detail-banner {
    height: 332/@rem;
    background: url(../../img/album-detail-banner.png) no-repeat;
    background-size: cover;
}

.album-like-bar {
    padding: 15px 24/@rem;
    overflow: hidden;
    .left {
        float: left;
        a {
            float: left;
            margin-right: 20/@rem;
            img {
                width: 45/@rem;
                height: 45/@rem;
                border-radius: 100%;
            }
        }
    }
    .right {
        float: right;
        .num {
            font-size: @fs-default;
        }
        .iconfont {
            font-size: 20px;
            vertical-align: middle;
        }
    }
}

.gray-space {
    height: 10/@rem;
    background: #EFF1F2;
    width: 100%;
}

.leave-msg-box {
    .hd {
        font-size: @fs-m;
        border-bottom: 1px solid #EDEDED;
        padding: 15px 24/@rem;
    }
    .list {
        .list-item {
            overflow: hidden;
            margin-left: 24/@rem;
            padding: 20px 0;
            padding-right: 24/@rem;
            border-bottom: 1px solid #EDEDED;
            .left {
                float: left;
                img {
                    width: 40px;
                    height: 40px;
                    float: left;
                    margin-right: 19/@rem;
                }

                .cont {
                    float: left;
                    h3 {
                        font-size: @fs-s;
                        color: #666;
                    }
                    p {
                        font-size: @fs-default;
                    }
                }
            }
            .right {
                float: right;
                color: #999;
                span {
                    font-size: @fs-default;
                }
            }
        }
    }
    .more {
        padding: 15px 0;
        font-size: 12px;
        text-align: center;
        color: #999;
    }
}

.photo-info-box {
    .hd {
        font-size: @fs-m;
        border-bottom: 1px solid #EDEDED;
        padding: 15px 24/@rem;
    }
    .bd {
        border-bottom: 1px solid #EFF1F2;
        p {
            font-size: @fs-default;
            padding: 10px 24/@rem;
        }
    }
}

.post-a-message-box {
    overflow: hidden;
    padding: 8px 24/@rem;
    .input {
        width: 516/@rem;
        padding: 8px 32/@rem;
        float: left;
        background: rgba(241, 243, 244, 1);
        border-radius: 32/@rem;
    }
    .btn {
        float: right;
        font-size: @fs-default;
    }
}

// 相册人物
.album-person {
    padding-left: 24/@rem;

    .album-person-item {
        float: left;
        margin: 0 24/@rem 24/@rem 0;
    }

    .album-person-pic {
        width: 208/@rem;
        height: 208/@rem;
        border-radius: 100%;
        border: 1px solid #ccc;
        margin-bottom: 20/@rem;
    }
    .album-person-name {
        font-size: 36/@rem;
        text-align: center;
    }
}

// =S 人物详情
.person-detail-hd {
    padding: 20px 24/@rem;
    overflow: hidden;
    .pic {
        width: 120/@rem;
        height: 120/@rem;
        float: left;
        border-radius: 100%;
        margin-right: 20/@rem;
    }
    .info {
        float: left;
        .name {
            font-size: @fs-m;
        }
        .detail {
            color: #999;
            font-size: @fs-default;
        }
    }
}

//=S 幻灯片播放
.change-light-box {
    position: relative;
    color: #fff;
    height: 100%;
    .change-light-list{height: 100%;}
    .change-light-item {
        // height: 1038/@rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .change-light-info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 28px 24/@rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        img {
            width: 54/@rem;
            height: 54/@rem;
            margin-right: 22/@rem;
            vertical-align: middle;
        }
    }
}

.huandengpian.photo-footer {
    background-color: #fff;
    p,
    .iconfont {
        color: #4A4A4A;
    }
}

//选择音乐
.music-list {

    .music-list-item {
        border-bottom: 1px solid #EDEDED;
        padding: 20px 0;
        margin: 0 24/@rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .music-name{font-size: @fs-default;}
        .iconfont {
            display: none;
        }
        &.cur {
            color: @mainColor;
            .iconfont {
                display: block;
                font-size: 15/@rem;
            }
        }
    }
}

@import './pages/family-member';