<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家语流芳</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="../../asset/css/jylf/common.css">
	<script type="text/javascript" src="../../asset/script/common.js"></script>
</head>
<body class="bg-white">
	<div class="container">
		<div class="cont-page-banner">
		</div>

		<div class="home-display">
			<div class="display-hd cont-wrap">
				<div class="left"><span class="display-hd-title">张志远，欢迎回家</span></div>
				<div class="right"><span class="display-hd-title"></span><span>张氏家族</span> <i class="iconfont">&#xe600;</i></div>
			</div>
			<div class="display-bd">
				<ul class="ui-list col-3">
					<li class="list-item" style="height: 199px;">
						<div class="ui-pictxt-box">
							<div class="inner">
								<!-- <div class="jy"></div> -->
								<img class="jy" src="../../asset/img/home-jiayu.png" alt="">
								<p>家语</p>
								</div>
						</div>
					</li>
					<li class="list-item" style="height: 198px;">
						<div class="ui-pictxt-box">
							<div class="inner">
								<img class="sgz" src="../../asset/img/home-shiguang.png" alt="">
							<p>时光轴</p>
							</div>
						</div>
					</li>
					<li class="list-item" style="height: 199px;">
						<div class="ui-pictxt-box">
							<div class="inner cur">
								<img class="jr" src="../../asset/img/home-jiaren.png" alt="">
							<p>家人</p>
							</div>
						</div>
					</li>
					<li class="list-item" style="height: 199px;">
						<div class="ui-pictxt-box">
							<div class="inner cur">
								<img class="jzxc" src="../../asset/img/home-xiangce.png" alt="">
								<p>家族相册</p>
							</div>
						</div>
					</li>
					<li class="list-item" style="height: 198px;">
						<div class="ui-pictxt-box">
							<div class="inner">
								<img class="jj" src="../../asset/img/home-jiaju.png" alt="">
								<p>家聚</p>
							</div>
						</div>
					</li>
					<li class="list-item" style="height: 199px;">
						<div class="ui-pictxt-box">
							<div class="inner">
								<img class="bysx" src="../../asset/img/home-shouxing.png" alt="">
								<p>本月寿星</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="cont-family">
			<div class="f-title"><p><span>家动态</span><em></em></p> </div>
			<ul class="f-list">
				<li class="fl-item">
					<div class="hd">
						<div class="left">
							<img src="../../asset/img/album-tu.png" alt=""> <span>张岩</span>
						</div>
						<div class="right"><span class="time">刚刚</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""><div class="more js-more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
				<li class="fl-item">
					<div class="line"></div>
					<div class="hd">
						<div class="left">
							<img src="../../asset/img/album-tu.png" alt=""> <span>张岩</span>
						</div>
						<div class="right"><span>9分钟前</span></div>
					</div>
					<div class="bd">
						<ul class="pic-list">
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""></li>
							<li><img src="../../asset/img/timg.jpg" alt=""><div class="more js-more"><em></em><span>6</span></div></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="foot-area">
			<ul class="ui-operation-foot">
				<li class="cur">
					<div class="pic jia"></div>
					<p>首页</p>
				</li>
				<li>
					<div class="pic yu"></div>
					<p>发现</p>
				</li>
				<li class="publish">
					<div></div>
				</li>
				<li>
					<div class="pic liu"></div>
					<p>消息</p>
				</li>
				<li>
					<div class="pic fang"></div>
					<p>我的</p>
				</li>
			</ul>
		</div>
		

	</div>	
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
	<script>
		$(".ui-list.col-3 .list-item").each(function(i){
			$(this).height($(this).width())
		})
		$(".cont-family .pic-list img").each(function(i){
			$(this).height($(this).width())
		})

		$('.js-more').on('click',function(){
			
			$(this).parents('.pic-list').append('<li><img src="../../asset/img/timg.jpg" alt=""></li>')
			$(this).remove();
		})
	</script>
</body>
</html>